@charset "UTF-8";

.wrapper{
    margin:0 auto;
    width:15.483870967741936rem;
    height:100%;
}
.M-box{
    overflow:hidden;
    position: relative;
    text-align: center;
    zoom: 1;
    display: inline-block;
}
.M-box:before{
    content:"";
    display:table;
}
.M-box:after{
    clear:both;
    overflow:hidden;
}
.M-box span{
    float: left;
    margin:0 0.08064516129032258rem;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #bdbdbd;
    font-size: 0.22580645161290322rem;
}
.M-box .active{
    float: left;
    margin:0 0.08064516129032258rem;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background: #999999;
    color: #fff;
    font-size: 0.22580645161290322rem;
    border: 1px solid #e5e5e5;
}
.M-box a{
    float: left;
    margin:0 0.08064516129032258rem;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 0.22580645161290322rem;
}
.M-box a:hover{
    color:#fff;
    background: #e91e63;
}
.M-box .next{
    font-family: "Simsun";
    font-size: 0.25806451612903225rem;
    font-weight: bold;
}
.now,.count{
    padding:0 0.08064516129032258rem;
    color:#f00;
}

input{
    float: left;
    margin:0 0.08064516129032258rem;
    width: 0.6129032258064516rem;
    height: 0.6129032258064516rem;
    line-height: 0.6129032258064516rem;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 0.22580645161290322rem;
}