/* CSS Document */
body{margin:0; padding:0; font: 0.38rem  'Microsoft YaHei',tahoma, Arial, Verdana, sans-serif;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
*{margin: 0;padding: 0; outline: none;-webkit-tap-highlight-color: rgba(255,255,255,0);-webkit-tap-highlight-color: transparent;}
/*ios==input样式*/
input[type="button"], input[type="submit"], input[type="reset"]{-webkit-appearance: none; border-radius: 0;font-family: 'Microsoft YaHei',tahoma, Arial, Verdana, sans-serif;}
input{-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-modify:read-write-plaintext-only; outline: none;color:#666;font-family: 'Microsoft YaHei',tahoma, Arial, Verdana, sans-serif;}
::-webkit-input-placeholder{color:#c8c8c8;}
:-moz-placeholder{color:#c8c8c8;}
::-moz-placeholder{color:#c8c8c8;}
:-ms-input-placeholder{color: #c8c8c8 ;}
input.f42f34::-webkit-input-placeholder {
    color: #f42f34;
}
input.f42f34::-moz-placeholder {
    color: #f42f34;
}
input.f42f34::-moz-placeholder {
    color: #f42f34;
}
input.f42f34:-ms-input-placeholder {
    color: #f42f34;
}
.f42f34{color:#f42f34 !important;}
input[readonly="readonly"]{color: #999 !important;}
input,button,select,textarea{outline:none;}
textarea{resize:none;}
textarea.n4{color:#333333;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;}
address,cite,code,em,th{font-weight:normal; font-style:normal;}
.left{float:left;}
.right{float:right;}
a{color:#2b2b2b; text-decoration:none;}
a:visited{text-decoration:none;}

.container{position: relative;overflow: hidden;clear:both;}
.clear{clear:both;overflow: hidden;}

.default-color{background: #f6f6f6;}

/*index页面*/
.m-index-logo{position:relative;}
.m-index-car{position: absolute;top:0.7741935483870968rem;left:0.6129032258064516rem;width:0.6935483870967742rem;height:0.6451612903225806rem;}
.m-index-menu{position: absolute;top:0.6129032258064516rem;right:0.3225806451612903rem;width:0.9516129032258065rem;height:0.9516129032258065rem;}
.m-index-car em{position:absolute; top:-0.0967741935483871rem;right:-0.20967741935483872rem; width:0.3387096774193548rem;height:0.3387096774193548rem;border-radius: 50%;background: #f00;color:#fff;font-size:0.1935483870967742rem;text-align: center;line-height: 0.3387096774193548rem;display: inline-block;}
.m-index-banner{margin-bottom:0.16129032258064516rem;}
.m-index-banner .m-index-title{height:0.6451612903225806rem;line-height: 0.6451612903225806rem;overflow: hidden;width:100%;}
.m-index-banner-img a{clear:both; line-height: 0; display:inline-block;}
.m-index-news{width:100%;background: #f6f6f6; overflow: hidden;height:0.6290322580645161rem;line-height: 0.6290322580645161rem;border:0.016129032258064516rem solid #b4b5a3;box-sizing:border-box;}
.m-index-news-icon{width:1.532258064516129rem;}
.m-index-news-text{width:8.419354838709678rem;overflow: hidden; padding:0 0.22580645161290322rem;box-sizing:border-box;}
.m-index-search{width:100%;height:1.8387096774193548rem;padding:0.4838709677419355rem 0.14516129032258066rem;box-sizing:border-box;background: #eee;color:#7d7d7d; position:relative;}
.m-index-search input{padding:0 0.3870967741935484rem; width:100%;height:0.8709677419354839rem;border:0.04838709677419355rem solid #bbbbbb;border-radius: 0.12903225806451613rem;box-sizing:border-box;background: #eee;color:#8d8d8d;font-size:0.3225806451612903rem;}
.m-index-search .icon-search{position:absolute; top:0.6451612903225806rem;right:0.532258064516129rem;width:0.5161290322580645rem;height:0.5161290322580645rem;}
.m-product-list{padding-bottom:0.04838709677419355rem;}
.m-product-list-header{margin-bottom:0.06451612903225806rem;padding: 0.0967741935483871rem 0;}
.m-product-list-header img{box-shadow: 0 0 0.0967741935483871rem #afafaf; width:100%;}
.m-product-list-content{font-size:0.2903225806451613rem;box-shadow: 0 0 0.04838709677419355rem #b9bcc5;border: 0.016129032258064516rem solid #b9bcc5;margin: 0 0.0967741935483871rem; padding:0.0967741935483871rem;}
.m-product-list-content-box{font-size:0.2903225806451613rem;color:#2e2e2e;text-align: center;}
.m-product-list-content-box .name{font-weight: 600;}
.m-product-list-content-box .price{color:#f00;}
.m-product-list-content-box .onelist{width:3.4516129032258065rem;height:7.225806451612903rem;border-right:0.016129032258064516rem solid #ccc;border-bottom:0.016129032258064516rem solid #ccc; padding:0.3225806451612903rem 0.4838709677419355rem;box-sizing:border-box;}
.m-product-list-content-box .onelist .title{margin-bottom:0.8064516129032258rem;}
.m-product-list-content-box .onelist .name{margin-bottom:0.5806451612903226rem;}
.m-product-list-content-box .onelist .pic{width:2.193548387096774rem;height:2.193548387096774rem;margin-bottom:0.4838709677419355rem;}
.m-product-list-content-box .onelist .price{color:#f00;}
.m-product-list-content-box .fourlist{width:6.112903225806452rem;}
.m-product-list-content-box .fourlist li{width:3.032258064516129rem;height:3.6129032258064515rem;border-right:0.016129032258064516rem solid #ccc;border-bottom:0.016129032258064516rem solid #ccc;padding:0.3225806451612903rem 0.16129032258064516rem 0;box-sizing:border-box;}
.m-product-list-content-box .fourlist .title {margin-bottom:0.2903225806451613rem;}
.m-product-list-content-box .fourlist .name {margin-bottom:0.16129032258064516rem;}
.m-product-list-content-box .fourlist .pic {width:1.3225806451612903rem;height:1.3225806451612903rem;margin:0 auto 0.16129032258064516rem;}
.m-product-list-content-box .fourlist li:nth-child(even){border-right:0 none;}
.m-product-list-content-more{height:1.3225806451612903rem;line-height: 1.3225806451612903rem;text-align: center;color:#898989;}

/*三个轮播商品*/
.m-product-list-swiper-content{width:100%;height:4.806451612903226rem; box-sizing:border-box;}
.m-product-list-swiper-content li{padding:0 0.24193548387096775rem;width:100%; box-sizing:border-box;}
.m-product-list-swiper-content li div{width:3.032258064516129rem; margin-right:0.16129032258064516rem; padding-top:0.6129032258064516rem; height:4.806451612903226rem; overflow: hidden; box-sizing:border-box;}
.m-product-list-swiper-content li div:last-child{ margin-right:0;}
.m-product-list-swiper-content li div img{width:1.903225806451613rem;margin:0 auto;display: block;}
.m-product-list-swiper-content li div p{width:100%;text-align: center;padding:0 0.16129032258064516rem;box-sizing:border-box;}
.m-product-list-swiper-content li div p.text{font-size:0.2903225806451613rem; margin-bottom:0.16129032258064516rem; color:#1e2340;}
.m-product-list-swiper-content li div p.price{font-size:0.2903225806451613rem;color:#ff0000;}
.swiper-button-prev{width:0.27419354838709675rem;height:0.41935483870967744rem; background:url('../images/icon-prev.png') no-repeat left top;background-size: 100%;}
.swiper-button-next{width:0.27419354838709675rem;height:0.41935483870967744rem; background:url('../images/icon-next.png') no-repeat left top;background-size: 100%;}
/*双banner*/
.m-product-list-twobanner-content{width:100%;padding:0 0.12903225806451613rem;box-sizing:border-box;}





