/* CSS Document */
body{margin:0; padding:0; font: 0.38rem  'Microsoft YaHei',tahoma, Arial, Verdana, sans-serif;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
*{margin: 0;padding: 0; outline: none;-webkit-tap-highlight-color: rgba(255,255,255,0);-webkit-tap-highlight-color: transparent;}
/*ios==input样式*/
input[type="button"], input[type="submit"], input[type="reset"]{-webkit-appearance: none; border-radius: 0;font-family: 'Microsoft YaHei',tahoma, Arial, Verdana, sans-serif;}
input{-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-modify:read-write-plaintext-only; outline: none;color:#666;font-family: 'Microsoft YaHei',tahoma, Arial, Verdana, sans-serif;}
::-webkit-input-placeholder{color:#c8c8c8;}
:-moz-placeholder{color:#c8c8c8;}
::-moz-placeholder{color:#c8c8c8;}
:-ms-input-placeholder{color: #c8c8c8 ;}
input.f42f34::-webkit-input-placeholder {
    color: #f42f34;
}
input.f42f34::-moz-placeholder {
    color: #f42f34;
}
input.f42f34::-moz-placeholder {
    color: #f42f34;
}
input.f42f34:-ms-input-placeholder {
    color: #f42f34;
}
.f42f34{color:#f42f34 !important;}
input[readonly="readonly"]{color: #999 !important;}
input,button,select,textarea{outline:none;}
textarea{resize:none;}
textarea.n4{color:#333333;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;}
address,cite,code,em,th{font-weight:normal; font-style:normal;}
.left{float:left;}
.right{float:right;}
a{color:#2b2b2b; text-decoration:none;}
a:visited{text-decoration:none;}
.m-show{display: block !important;}
.container{position: relative;overflow: hidden;clear:both;}
.clear{clear:both;overflow: hidden;}

.default-color{background: #f6f6f6;}

/*置底导航*/
.m-nav-bottom{width:100%; position:fixed;bottom:0;left:0;background: #2e2e2e; z-index:999;}
.m-nav-bottom li{width: 25%;height:1.5rem;padding-top:0.45161290322580644rem;box-sizing: border-box;}
.m-nav-bottom li a{display: block;width:0.7741935483870968rem;text-align: center;height: 0.6612903225806451rem;background: url("../images/icon-footer.png") no-repeat; margin:0 auto; background-size: 100%;}
.m-nav-bottom li.m-nav-bottom-car a{position:relative;}
.m-nav-bottom li.m-nav-bottom-talk a{background-position: 0 0;}
.m-nav-bottom li.m-nav-bottom-search a{background-position:0 -0.7741935483870968rem;}
.m-nav-bottom li.m-nav-bottom-person a{background-position:0 -1.4838709677419355rem;}
.m-nav-bottom li.m-nav-bottom-car a{background-position:0 -2.2419354838709675rem;}
.m-nav-bottom-car-number{position:absolute; background:#ff0000;width:0.3387096774193548rem;height:0.3387096774193548rem;border-radius: 50%;font-size:0.1935483870967742rem;text-align: center;line-height: 0.3387096774193548rem;top:-0.0967741935483871rem;right:-0.12903225806451613rem;color:#fff;}

/*顶部内容*/
.m-common-logo{position:relative;}
.m-common-car{position: absolute;top:0.7741935483870968rem;left:0.6129032258064516rem;width:0.6935483870967742rem;height:0.6451612903225806rem;}
.m-common-menu{position: absolute;top:0.6129032258064516rem;right:0.3225806451612903rem;width:0.9516129032258065rem;height:0.9516129032258065rem;}
.m-common-car em{position:absolute; top:-0.0967741935483871rem;right:-0.20967741935483872rem; width:0.3387096774193548rem;height:0.3387096774193548rem;border-radius: 50%;background: #f00;color:#fff;font-size:0.1935483870967742rem;text-align: center;line-height: 0.3387096774193548rem;display: inline-block;}

/*顶部menu弹窗*/
.m-common-menu-box{display: none; position:fixed;top:0;right:0;width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:1200;}
.m-common-menu-close{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1201;}
.m-common-menu-content{position:absolute;top:0;right:0;width:8.064516129032258rem;background: #fff; z-index:1202;}
.m-common-menu-content-header{padding:0.12903225806451613rem 0.20967741935483872rem 0.2903225806451613rem 0.25806451612903225rem;margin-bottom:0.03225806451612903rem; background: #2e2e2e;}
.m-common-menu-content-header .btn{width:0.9838709677419355rem;height:1.0161290322580645rem;line-height: 1.0161290322580645rem;color:#cecece;border-radius: 0.16129032258064516rem;text-align: center;font-size:0.25806451612903225rem;border:0.016129032258064516rem solid #cecece;box-sizing: border-box;margin-bottom:0.3225806451612903rem;}
.m-common-menu-content-header .search-box input{width:6.290322580645161rem;height:0.6451612903225806rem; border:0 none;}
.m-common-menu-content-header .search-box .search-btn{width:1.2903225806451613rem;height:0.6451612903225806rem;background: #444;text-align: center;padding-top:0.12903225806451613rem;box-sizing: border-box;}
.m-common-menu-content-header .search-box .search-btn img{width:0.3548387096774194rem;height:0.41935483870967744rem;}
.m-common-menu-content-list{background: #2e2e2e;line-height: 0.967741935483871rem;margin-bottom:0.03225806451612903rem;}
.m-common-menu-content-list-header{width:100%;height:0.967741935483871rem;line-height: 0.967741935483871rem;padding:0 0.3225806451612903rem 0 0.3387096774193548rem;box-sizing: border-box;color:#fff;}
.m-common-menu-content-list-header .jt{padding-top:0.3548387096774194rem;height:100%;box-sizing: border-box;}
.m-common-menu-content-list-header img{width:0.3548387096774194rem;height:0.3225806451612903rem;}
.m-common-menu-content-list ul {display: none;}
.m-common-menu-content-list li {border-bottom:0.016129032258064516rem solid #b1b1b1;}
.m-common-menu-content-list li:last-child {border-bottom:0 none;}
.m-common-menu-content-list li a{color:#2e2e2e;background: #d4d4d4;font-size:0.3064516129032258rem; display: block;padding-left:0.7741935483870968rem;box-sizing: border-box;}
.m-common-menu-content-footer{height:0.967741935483871rem; background: #2e2e2e;width:100%;padding:0.14516129032258066rem 0.46774193548387094rem 0; box-sizing: border-box;}
.m-common-menu-content-footer a{display: block; width:3.2580645161290325rem;background: #fff;text-align: center; height:0.6935483870967742rem;line-height: 0.6612903225806451rem;border:0.016129032258064516rem solid #d6d6d6;border-radius: 0.12903225806451613rem; box-sizing: border-box;}
.m-common-menu-content-footer a.f-top{position:relative;}
.m-common-menu-content-footer a.f-top img{position:absolute;bottom:0.1935483870967742rem;right:0.7741935483870968rem; transform:rotate(-90deg);}

/*通用页面nav*/
.m-common-containter-nav{width:100%;height:0.6451612903225806rem;padding:0 0.12903225806451613rem;box-sizing: border-box; background: #ecebec;}
.m-common-containter-nav li img{vertical-align: middle;}
.m-common-containter-nav li a{ line-height:0.6451612903225806rem;font-size:#000;font-size:0.2903225806451613rem; display: inline-block;padding-right:0.4032258064516129rem;background: url("../images/icon-navjt.png")no-repeat right top;}
.m-common-containter-nav li:last-child a{background: none;}
.m-common-containter-nav li em{padding-left:0.12903225806451613rem;}



/*index页面*/
.m-index-banner{margin-bottom:0.16129032258064516rem;}
.m-index-banner .m-index-title{height:0.6451612903225806rem;line-height: 0.6451612903225806rem;overflow: hidden;width:100%;}
.m-index-banner-img a{clear:both; line-height: 0; display:inline-block;}
.m-index-news{width:100%;background: #f6f6f6; overflow: hidden;height:0.6290322580645161rem;line-height: 0.6rem;border:0.016129032258064516rem solid #b4b5a3;box-sizing: border-box;}
.m-index-news-icon{width:1.532258064516129rem;}
.m-index-news-text{width:8.4rem;overflow: hidden; padding:0 0.22580645161290322rem;box-sizing:border-box;}
.m-index-search{width:100%;height:1.8387096774193548rem;padding:0.4838709677419355rem 0.14516129032258066rem;box-sizing:border-box;background: #eee;color:#7d7d7d; position:relative;}
.m-index-search input{padding:0 0.3870967741935484rem; width:100%;height:0.8709677419354839rem;border:0.04838709677419355rem solid #bbbbbb;border-radius: 0.12903225806451613rem;box-sizing:border-box;background: #eee;color:#8d8d8d;font-size:0.3225806451612903rem;}
.m-index-search .icon-search{position:absolute; top:0.6451612903225806rem;right:0.532258064516129rem;width:0.5161290322580645rem;height:0.5161290322580645rem;}
.m-product-list{padding-bottom:0.04838709677419355rem;}
.m-product-list-header{margin-bottom:0.06451612903225806rem;padding: 0.0967741935483871rem 0;}
.m-product-list-header img{box-shadow: 0 0 0.0967741935483871rem #afafaf; width:100%;}
.m-product-list-content{font-size:0.2903225806451613rem;box-shadow: 0 0 0.04838709677419355rem #b9bcc5;border: 0.016129032258064516rem solid #b9bcc5;margin: 0 0.0967741935483871rem; padding:0.09rem;}
.m-product-list-content-box{font-size:0.2903225806451613rem;color:#2e2e2e;text-align: center;}
.m-product-list-content-box .name{font-weight: 600;}
.m-product-list-content-box .price{color:#f00;}
.m-product-list-content-box .onelist{width:3.4516129032258065rem;height:7.225806451612903rem;border-right:0.016129032258064516rem solid #ccc;border-bottom:0.016129032258064516rem solid #ccc; padding:0.3225806451612903rem 0.4838709677419355rem;box-sizing:border-box;}
.m-product-list-content-box .onelist .title{margin-bottom:0.8064516129032258rem;}
.m-product-list-content-box .onelist .name{margin-bottom:0.5806451612903226rem;}
.m-product-list-content-box .onelist .pic{width:2.193548387096774rem;height:2.193548387096774rem;margin-bottom:0.4838709677419355rem;}
.m-product-list-content-box .onelist .price{color:#f00;}
.m-product-list-content-box .fourlist{width:6.112903225806452rem;}
.m-product-list-content-box .fourlist li{width:3.032258064516129rem;height:3.6129032258064515rem;border-right:0.016129032258064516rem solid #ccc;border-bottom:0.016129032258064516rem solid #ccc;padding:0.3225806451612903rem 0.16129032258064516rem 0;box-sizing:border-box;}
.m-product-list-content-box .fourlist .title {margin-bottom:0.2903225806451613rem; text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}
.m-product-list-content-box .fourlist .name {margin-bottom:0.16129032258064516rem; text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}
.m-product-list-content-box .fourlist .pic {width:1.3225806451612903rem;height:1.3225806451612903rem;margin:0 auto 0;}
.m-product-list-content-box .fourlist li:nth-child(even){border-right:0 none;}
.m-product-list-content-more{height:1.3225806451612903rem;line-height: 1.3225806451612903rem;text-align: center;color:#898989;}
.m-product-list-more-content{display: none;}
.m-product-list-more-content .fourlist li{border-bottom:0 none;}
.swiper-container-banner{font-size:0; width:100%;position: relative;}
.swiper-banner-pagination{position:absolute;z-index: 2;}
.m-product-goods-list .onelist{border-bottom:0 none;}
.m-product-goods-list .fourlist li:nth-child(3),.m-product-goods-list .fourlist li:nth-child(4){border-bottom:0 none;}

.m-product-lists{margin-bottom:0.7096774193548387rem;}
/*三个轮播商品*/
.m-product-list-swiper-content{width:100%;height:4.806451612903226rem; box-sizing:border-box;overflow-x:scroll;}
.m-product-list-swiper-content ul{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.m-product-list-swiper-content li{padding:0 0.24193548387096775rem;box-sizing:border-box;-webkit-flex-shrink: 0; -ms-flex: 0 0 auto;flex-shrink: 0;}
.m-product-list-swiper-content li div{width:3.032258064516129rem; margin-right:0.16129032258064516rem; padding-top:0.6129032258064516rem; height:4.806451612903226rem; overflow: hidden; box-sizing:border-box;}
.m-product-list-swiper-content li div img{width:1.903225806451613rem; height:3.1rem;margin:0 auto;display: block;}
.m-product-list-swiper-content li div p{width:100%;text-align: center;padding:0 0.16129032258064516rem;box-sizing:border-box;}
.m-product-list-swiper-content li div p.text{font-size:0.2903225806451613rem; margin-bottom:0.16129032258064516rem; color:#1e2340;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}
.m-product-list-swiper-content li div p.price{font-size:0.2903225806451613rem;color:#ff0000;}
/*双banner*/
.m-product-list-twobanner-content{width:100%;padding:0 0.12903225806451613rem;box-sizing:border-box;}
.m-product-list-twobanner-content>div{width:50%;}

.m-index-tab{padding:0 0.04838709677419355rem;}
.m-index-tab .m-tab-header{position:relative;padding-bottom:0.12903225806451613rem;}
.m-tab-intelligence,.m-tab-knowledge{color:#fff; width:4.935483870967742rem;line-height:0.7741935483870968rem;text-align:center;font-size:0.3387096774193548rem;}
.m-tab-intelligence em.text-box,.m-tab-knowledge em.text-box{ width:1.532258064516129rem;height:0.43548387096774194rem;line-height: 0.43548387096774194rem;background: #fff;color:#000;border-radius: 0.1935483870967742rem;font-size:0.2903225806451613rem;display: inline-block;}
.m-tab-intelligence em.text-box img,.m-tab-knowledge em.text-box img{width:0.16129032258064516rem;height:0.27419354838709675rem;vertical-align: middle; margin-right:0.0967741935483871rem;}
.m-tab-intelligence .btn,.m-tab-knowledge .btn{margin-bottom:0.016129032258064516rem;}
.m-tab-intelligence .btn{background: #a8a8a8;}
.m-tab-knowledge .btn{background: #44413a;}
.m-tab-intelligence .xian,.m-tab-knowledge .xian{width:100%;height:0.08064516129032258rem;background: #000;}
.m-tab-intelligence{margin-right:0.03225806451612903rem;}
.m-index-tab .jtx{width:0.24193548387096775rem;height:0.14516129032258066rem;position:absolute;bottom:0;left:2.0161290322580645rem;}
.m-index-tab .right-cur{width: 0.24193548387096775rem; height: 0.14516129032258066rem; position: absolute; bottom: 0;right:2.0161290322580645rem;}
.m-index-tab .m-index-tab-lists{width:100%;border:0.016129032258064516rem solid #a9a8ad;box-shadow:0 0.0967741935483871rem 0.0967741935483871rem #a9a8ad;padding:0 0.08064516129032258rem;border-top:0 none; box-sizing:border-box;}
.m-index-tab .m-index-tab-list{font-size:0.2903225806451613rem; width:100%;height:2.5806451612903225rem;border-bottom:0.016129032258064516rem solid #a9a8ad; padding-top:0.20967741935483872rem;color:#000; box-sizing:border-box;}
.m-index-tab .m-index-tab-list:last-child{width:100%;height:2.5806451612903225rem;border-bottom:0 none;}
.m-index-tab .m-index-tab-list .time{color:#d67f81;line-height: 0.6774193548387096rem;}
.m-index-tab .m-index-tab-list .content{overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;line-height: 0.45161290322580644rem;}

.m-index-explain{width:100%;background: #f3f2f1;padding:0.4838709677419355rem 0.16129032258064516rem 0.24193548387096775rem;box-sizing:border-box;}
.m-index-explain li{width:4.741935483870968rem;height:1.064516129032258rem; margin-bottom:0.24193548387096775rem; float:left;}
.m-index-explain li:odd{margin-right:0.12903225806451613rem;}
.m-index-link li{width:50%;}
.m-index-link li:nth-child(1),.m-index-link li:nth-child(2){border-bottom:0.016129032258064516rem solid #969590;}
.m-index-link li:nth-child(1),.m-index-link li:nth-child(3){border-right:0.016129032258064516rem solid #969590;box-sizing:border-box;}
.m-index-link li a{width:100%;line-height: 0.9354838709677419rem;padding-left:0.20967741935483872rem;box-sizing:border-box;background: #e4e1d8;font-size:0.2903225806451613rem;color:#656463;display: inline-block;}
.m-index-look{padding:0.6129032258064516rem 0 0.3225806451612903rem;}
.m-index-look>div{width:6.064516129032258rem;height:1.1774193548387097rem;margin:0 auto 0.3870967741935484rem;}

.m-common-footer{background: #2e2e2e;padding:0.16129032258064516rem 0;color:#fff; margin-bottom:1.5rem;}
.m-common-footer .left{width:8.048387096774194rem;border-right:0.016129032258064516rem solid #616161;padding:0 0.16129032258064516rem 0 0.2903225806451613rem; box-sizing:border-box;}
.m-common-footer .left .copyright{font-size:0.1935483870967742rem;}
.m-common-footer .right{width:1.9516129032258065rem;}
.m-common-footer .right a{display: inline-block;width: 100%;}
.m-common-footer .right img{width:0.4032258064516129rem;height:0.25806451612903225rem;margin:0 auto;display: block;}
.m-common-footer .right p{font-size:0.3225806451612903rem;color:#fff;text-align: center;}

/*详情页*/
.m-detail-container{background: #e8e8e8;padding-top:0.6451612903225806rem;}
.m-detail-content{background: #f4f4f4;padding-top:0.6451612903225806rem;}
.m-detail-product .pic{width:7.564516129032258rem;margin:0 auto 0.3225806451612903rem;}
.m-detail-product .name,.m-detail-product .price,.m-detail-product .promise{width:7.564516129032258rem;margin:0 auto;text-align:right;}
.m-detail-product .name{line-height: 0.6774193548387096rem;color:#060606;font-size:0.3225806451612903rem;}
.m-detail-product .price{line-height: 0.4838709677419355rem;color:#060606;font-size:0.2903225806451613rem;margin-bottom:0.2903225806451613rem;}
.m-detail-product .price em{color:#f00;font-size:0.3709677419354839rem;}
.m-detail-product .promise{font-size:0; padding-bottom:0.3064516129032258rem;}
.m-detail-product .promise>div{margin-right:0.16129032258064516rem; width:1.7580645161290323rem;}
.m-detail-product .promise>div:last-child{margin-right:0;}
.m-detail-num{position:relative;height:1.3387096774193548rem;border-top:0.016129032258064516rem solid #cecece; text-align: right;padding-right:0.5967741935483871rem; border-bottom:0.016129032258064516rem solid #cecece; margin:0 0.6129032258064516rem; padding-top:0.3064516129032258rem; box-sizing: border-box;}
.m-detail-num label{font-size:0.3225806451612903rem;color:#060606;}
.m-detail-num input{width:3.435483870967742rem;height:0.6935483870967742rem; padding-left:0.16129032258064516rem; border:0.016129032258064516rem solid #cecece; border-radius: 0.08064516129032258rem; box-sizing: border-box;}
.m-detail-num .jt{width:0.3387096774193548rem;height:0.24193548387096775rem;position: absolute;top:0.5806451612903226rem;right:0.7741935483870968rem;background: url("../images/icon-blackjtx.png")no-repeat top left;}
.m-detail-addcar{padding-top:0.7258064516129032rem; width:7.580645161290323rem;margin:0 auto;}
.m-detail-product-point{width:7.580645161290323rem;height:1.7741935483870968rem;margin:0 auto;padding-top:0.5161290322580645rem; font-size:0.3225806451612903rem; line-height: 0.4032258064516129rem; color:#060606; box-sizing:border-box;}
.m-detail-separatedesc,.m-detail-engravingins{width:7.580645161290323rem;margin:0 auto; background: #fff;}
.m-detail-separatedesc-header,.m-detail-engravingins-header{font-size:0.41935483870967744rem; background: url("../images/img-header-bg.jpg") no-repeat left top;background-size:100%;height:0.7903225806451613rem;line-height: 0.7903225806451613rem;color:#fff;text-align: center; }
.m-detail-separatedesc{margin-bottom:0.7580645161290323rem;color:#060606;font-size:0.2903225806451613rem;padding:0.16129032258064516rem 0 0.3870967741935484rem; line-height: 0.5483870967741935rem;}
.m-detail-separatedesc .title{text-align: center;color:#f10101; font-size:0.41935483870967744rem;line-height: 0.7741935483870968rem;}
.m-detail-separatedesc .desc{margin-bottom:0.16129032258064516rem;}
.m-detail-separatedesc .desc,.m-detail-separatedesc ul{padding:0 0.14516129032258066rem;}
.m-detail-engravingins{margin-bottom:0.5806451612903226rem;}
.m-detail-engravingins-content table{border-left:0.016129032258064516rem solid #cecece; width:100%;box-sizing: border-box;}
.m-detail-engravingins-content table td{border-right:0.016129032258064516rem solid #cecece;border-bottom:0.016129032258064516rem solid #cecece;}
.m-detail-engravingins-content table tr td:first-child{width:2.4516129032258065rem;height:1.4516129032258065rem;line-height: 1.4516129032258065rem;text-align: center;}
.m-detail-engravingins-content table td.text{padding-left:0.25806451612903225rem;box-sizing: border-box;}
.m-detail-backbtn{width:4.967741935483871rem;height:1.064516129032258rem;margin: 0 auto;padding-bottom:0.2903225806451613rem;}


/*分类页*/
.m-classify-explain .title{color:#080808;text-align: center;padding:0 20px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height:85px;line-height: 85px;font-size:26px;}
.m-classify-explain .desc{width:100%;font-size:20px;color:#000;border-top:5px solid #733e43;line-height: 24px;padding:20px;box-sizing: border-box;}
.m-classify-ranking .header,.m-classify-type .header{width:100%;height:54px;line-height: 54px;color:#fff;padding-left:17px;background: url("../images/img-classify-bg.jpg")no-repeat left top; background-size:100%;}
.m-classify-ranking .content{padding:34px 10px 37px;background: blue;}
.m-classify-type{background: #f4f3f3;}
.m-classify-type .content{ padding:25px 7px 35px;margin-bottom:8px;}
.m-classify-type .content ul{display: none;}
.m-classify-type .content li{width:90px; height:120px;border:1px solid #999; background: #fff; float:left;margin:0 10px 19px 0;padding-top:1px;box-sizing: border-box;}
.m-classify-type .content li:last-child{margin-right:0;}
.m-classify-type .content li .img{width:78px;font-size:0;height:57px;margin: 0 auto;}
.m-classify-type .content li p{color:#069;font-size:12px;text-align: center;line-height: 18px;}
.m-classify-type .content li .price{color:#f00;text-align: center;font-size:12px;line-height: 18px;}
.m-classify-type .btn{width:219px;height:42px;background: url("../images/icon-classify-btn01.png")no-repeat left top;}