/* CSS Document */
body{margin:0; padding:0; font: 0.38rem  'Microsoft YaHei',tahoma, Arial, Verdana, sans-serif;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
*{margin: 0;padding: 0; outline: none;-webkit-tap-highlight-color: rgba(255,255,255,0);-webkit-tap-highlight-color: transparent;}
/*ios==input样式*/
input[type="button"], input[type="submit"], input[type="reset"]{-webkit-appearance: none; border-radius: 0;font-family: 'Microsoft YaHei',tahoma, Arial, Verdana, sans-serif;}
input{-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-modify:read-write-plaintext-only; outline: none;color:#666;font-family: 'Microsoft YaHei',tahoma, Arial, Verdana, sans-serif;}
::-webkit-input-placeholder{color:#c8c8c8;}
:-moz-placeholder{color:#c8c8c8;}
::-moz-placeholder{color:#c8c8c8;}
:-ms-input-placeholder{color: #c8c8c8 ;}
input.f42f34::-webkit-input-placeholder {
    color: #f42f34;
}
input.f42f34::-moz-placeholder {
    color: #f42f34;
}
input.f42f34::-moz-placeholder {
    color: #f42f34;
}
input.f42f34:-ms-input-placeholder {
    color: #f42f34;
}
.f42f34{color:#f42f34 !important;}
input[readonly="readonly"]{color: #999 !important;}
input,button,select,textarea{outline:none;}
textarea{resize:none;}
textarea.n4{color:#333333;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;}
address,cite,code,em,th{font-weight:normal; font-style:normal;}
.left{float:left;}
.right{float:right;}
a{color:#2b2b2b; text-decoration:none;}
a:visited{text-decoration:none;}
.m-show{display: block !important;}
.container{position: relative;overflow: hidden;clear:both;}
.clear{clear:both;overflow: hidden;}
.clearb{clear:both;}

.default-color{background: #f6f6f6;}

.default-touch{background:#ffff9b;color:#f00;}

.s-f00{color:#f00;}
.f-height{height:auto !important;}
.f-show{display: block !important;}
/*向上箭头*/
.m-common-go-top{ display: none; position: fixed; right: 0.6rem; bottom: 2rem; width: 0.6451612903225806rem; height: 0.6451612903225806rem; border-radius: 50%; background: rgba(0,0,0,0.8); color: #fff; text-align: center; line-height: 0.6451612903225806rem; z-index: 44;}
/*置顶头部*/
.m-common-stick{display:none;position:fixed;top:0;left:0;width:100%; height: 1.2258064516129032rem; background: black; z-index: 44;}
.m-common-stick>div:first-child{width:15%; }
.m-common-stick>div:nth-child(2){width:70%; text-align: center;color:#fff;}
.m-common-stick>div:last-child{width:15%;}
.m-common-stick-car{width:0.5806451612903226rem;margin:0.3225806451612903rem auto;}
.m-common-stick-text{line-height: 1.2258064516129032rem;font-size:0.6129032258064516rem;}
.m-common-stick-menu{width:0.7419354838709677rem;margin:0.24193548387096775rem auto;}
/*置底导航*/
.m-nav-bottom{display:none; width:100%; position:fixed;bottom:0;left:0;background: #2e2e2e; z-index:999;}
.m-nav-bottom li{width: 25%;height:1.5rem;padding-top:0.45161290322580644rem;box-sizing: border-box;}
.m-nav-bottom li a{display: block;width:0.7741935483870968rem;text-align: center;height: 0.6612903225806451rem;background: url("../images/icon-footer.png") no-repeat; margin:0 auto; background-size: 100%;}
.m-nav-bottom li.m-nav-bottom-car a{position:relative;}
.m-nav-bottom li.m-nav-bottom-talk a{background-position: 0 0;}
.m-nav-bottom li.m-nav-bottom-search a{background-position:0 -0.7741935483870968rem;}
.m-nav-bottom li.m-nav-bottom-person a{background-position:0 -1.4838709677419355rem;}
.m-nav-bottom li.m-nav-bottom-car a{background-position:0 -2.2419354838709675rem;}
.m-nav-bottom-car-number{position:absolute; background:#ff0000;width:0.3387096774193548rem;height:0.3387096774193548rem;border-radius: 50%;font-size:0.1935483870967742rem;text-align: center;line-height: 0.3387096774193548rem;top:-0.0967741935483871rem;right:-0.12903225806451613rem;color:#fff;}

/*顶部内容*/
.m-common-logo{position:relative;}
.m-common-car{position: absolute;top:0.7741935483870968rem;left:0.6129032258064516rem;width:0.6935483870967742rem;height:0.6451612903225806rem;}
.m-common-menu{position: absolute;top:0.6129032258064516rem;right:0.3225806451612903rem;width:0.9516129032258065rem;height:0.9516129032258065rem;z-index:22;}
.m-common-car em{position:absolute; top:-0.0967741935483871rem;right:-0.20967741935483872rem; width:0.3387096774193548rem;height:0.3387096774193548rem;border-radius: 50%;background: #f00;color:#fff;font-size:0.1935483870967742rem;text-align: center;line-height: 0.3387096774193548rem;display: inline-block;}

/*顶部menu弹窗*/
.m-common-menu-box{display: none; position:fixed;top:0;right:0;width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:1200;}
.m-common-menu-close{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1201;}
.m-common-menu-content{position:absolute;top:0;right:0;width:8.064516129032258rem;background: #fff; z-index:1202;}
.m-common-menu-content-header{padding:0.12903225806451613rem 0.20967741935483872rem 0.2903225806451613rem 0.25806451612903225rem;margin-bottom:0.03225806451612903rem; background: #2e2e2e;}
.m-common-menu-content-header .btn{width:0.9838709677419355rem;height:1.0161290322580645rem;line-height: 1.0161290322580645rem;color:#cecece;border-radius: 0.16129032258064516rem;text-align: center;font-size:0.25806451612903225rem;border:0.016129032258064516rem solid #cecece;box-sizing: border-box;margin-bottom:0.3225806451612903rem;}
.m-common-menu-content-header .search-box input{ padding-left:0.16129032258064516rem; width:6.290322580645161rem;height:0.6451612903225806rem; border:0 none;box-sizing:border-box;}
.m-common-menu-content-header .search-box .search-btn{width:1.2903225806451613rem;height:0.6451612903225806rem;background: #444;text-align: center;padding-top:0.12903225806451613rem;box-sizing: border-box;}
.m-common-menu-content-header .search-box .search-btn img{width:0.3548387096774194rem;height:0.41935483870967744rem;}
.m-common-menu-content-list{background: #2e2e2e;line-height: 0.967741935483871rem;margin-bottom:0.03225806451612903rem;}
.m-common-menu-content-list a.m-common-menu-content-list-header{display: inline-block;}
.m-common-menu-content-list-header{width:100%;height:0.967741935483871rem;line-height: 0.967741935483871rem;padding:0 0.3225806451612903rem 0 0.3387096774193548rem;box-sizing: border-box;color:#fff;}
.m-common-menu-content-list-header .jt{padding-top:0.3548387096774194rem;height:100%;box-sizing: border-box;}
.m-common-menu-content-list-header img{width:0.3548387096774194rem;height:0.3225806451612903rem;}
.m-common-menu-content-list-header img.fan{transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.m-common-menu-content-list ul {display: none;}
.m-common-menu-content-list li {border-bottom:0.016129032258064516rem solid #b1b1b1;}
.m-common-menu-content-list li:last-child {border-bottom:0 none;}
.m-common-menu-content-list li a{color:#2e2e2e;background: #d4d4d4;font-size:0.3064516129032258rem; display: block;padding-left:0.7741935483870968rem;box-sizing: border-box;}
.m-common-menu-content-footer{height:0.967741935483871rem; background: #2e2e2e;width:100%;padding:0.14516129032258066rem 0.46774193548387094rem 0; box-sizing: border-box;}
.m-common-menu-content-footer a{display: block; width:3.2580645161290325rem;background: #fff;text-align: center; height:0.6935483870967742rem;line-height: 0.6612903225806451rem;border:0.016129032258064516rem solid #d6d6d6;border-radius: 0.12903225806451613rem; box-sizing: border-box;}
.m-common-menu-content-footer a.f-top{position:relative;}
.m-common-menu-content-footer a.f-top img{position:absolute;bottom:0.1935483870967742rem;right:0.7741935483870968rem; top:0.12rem; transform:rotate(-90deg);}

/*通用页面nav*/
.m-common-containter-nav{width:100%;height:0.6451612903225806rem;padding:0 0.12903225806451613rem;box-sizing: border-box; background: #ecebec;}
.m-common-containter-nav li img{vertical-align: middle; width:0.3709677419354839rem;height:0.3387096774193548rem;}
.m-common-containter-nav li a{ line-height:0.6451612903225806rem;font-size:#000;font-size:0.2903225806451613rem; display: inline-block;padding-right:0.4032258064516129rem;background: url("../images/icon-navjt.png")no-repeat right top;background-size:auto 100%;}
.m-common-containter-nav li:last-child a{background: none;}
.m-common-containter-nav li em{padding-left:0.12903225806451613rem;}
/*公共底部*/
.m-common-footer{background: #2e2e2e;padding:0.16129032258064516rem 0;color:#fff; }
.m-common-footer .left{width:8.048387096774194rem;border-right:0.016129032258064516rem solid #616161;padding:0 0.16129032258064516rem 0 0.2903225806451613rem; box-sizing:border-box;}
.m-common-footer .left .copyright{font-size:0.1935483870967742rem;}
.m-common-footer .right{width:1.9516129032258065rem;}
.m-common-footer .right a{display: inline-block;width: 100%;}
.m-common-footer .right img{width:0.4032258064516129rem;height:0.25806451612903225rem;margin:0 auto;display: block;}
.m-common-footer .right p{font-size:0.3225806451612903rem;color:#fff;text-align: center;}

/*公共错误弹窗*/
.m-popup-small-box{display: none; width:100%;height:100%;position: fixed;top:0;left:0;}
.m-popup-small{ width: 8.4rem; padding: 0.18rem 0.1rem; text-align: center; position: absolute;top: 50%; left: 50%; transform: translate(-50%,-50%); background: rgba(0,0,0,0.7); color: #fff; border-radius: 0.16rem;}


/*index页面*/
.m-index-banner{margin-bottom:0.16129032258064516rem;}
.m-index-banner .m-index-title{/*height:0.6451612903225806rem;*/line-height: 0.6451612903225806rem;overflow: hidden;width:100%;}
.m-index-banner-img a{clear:both; line-height: 0; display:inline-block;}
.m-index-news{width:100%;background: #f6f6f6; overflow: hidden;height:0.6290322580645161rem;line-height: 0.6rem;border:0.016129032258064516rem solid #b4b5a3;box-sizing: border-box;}
.m-index-news-icon{width:1.532258064516129rem;}
.m-index-news-text{width:8.4rem;overflow: hidden; padding:0 0.22580645161290322rem;box-sizing:border-box;}
.m-index-search{width:100%;height:1.8387096774193548rem;padding:0.4838709677419355rem 0.14516129032258066rem;box-sizing:border-box;background: #eee;color:#7d7d7d; position:relative;}
.m-index-search input{padding:0 0.3870967741935484rem; width:100%;height:0.8709677419354839rem;border:0.04838709677419355rem solid #bbbbbb;border-radius: 0.12903225806451613rem;box-sizing:border-box;background: #eee;color:#8d8d8d;font-size:0.3225806451612903rem;}
.m-index-search input:focus{ box-shadow: 0 0 0.2rem #4d78bc;background: #fff;}
.m-index-search .icon-search{position:absolute; top:0.6451612903225806rem;right:0.532258064516129rem;width:0.5161290322580645rem;height:0.5161290322580645rem;}
.m-product-list{padding-bottom:0.04838709677419355rem;}
.m-product-list-header{margin-bottom:0.06451612903225806rem;padding: 0.0967741935483871rem 0;}
.m-product-list-header img{box-shadow: 0 0 0.0967741935483871rem #afafaf; width:100%;}
.m-product-list-content{font-size:0.2903225806451613rem;box-shadow: 0 0 0.04838709677419355rem #b9bcc5;border: 0.016129032258064516rem solid #b9bcc5;margin: 0 0.0967741935483871rem; padding:0.09rem;}
.m-product-list-content-box{font-size:0.2903225806451613rem;color:#2e2e2e;text-align: center;}
.m-product-list-content-box .name{font-weight: 600;}
.m-product-list-content-box .price{color:#f00;}
.m-product-list-content-box .onelist{width:3.4516129032258065rem;height:7.225806451612903rem;border-right:0.016129032258064516rem solid #ccc;border-bottom:0.016129032258064516rem solid #ccc; padding:0.3225806451612903rem 0.4838709677419355rem;box-sizing:border-box;}
.m-product-list-content-box .onelist .title{margin-bottom:0.8064516129032258rem;}
.m-product-list-content-box .onelist .name{margin-bottom:0.5806451612903226rem;}
.m-product-list-content-box .onelist .pic{width:2.193548387096774rem;height:2.193548387096774rem;margin-bottom:0.4838709677419355rem;}
.m-product-list-content-box .onelist .price{color:#f00;}
.m-product-list-content-box .fourlist{width:6.112903225806452rem;}
.m-product-list-content-box .fourlist li{width:3.032258064516129rem;height:3.6129032258064515rem;border-right:0.016129032258064516rem solid #ccc;border-bottom:0.016129032258064516rem solid #ccc;padding:0.3225806451612903rem 0.16129032258064516rem 0;box-sizing:border-box;}
.m-product-list-content-box .fourlist .title {margin-bottom:0.2903225806451613rem; text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}
.m-product-list-content-box .fourlist .name {margin-bottom:0.16129032258064516rem; text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}
.m-product-list-content-box .fourlist .pic {width:1.3225806451612903rem;height:1.3225806451612903rem;margin:0 auto 0;overflow:hidden;}
.m-product-list-content-box .fourlist li:nth-child(even){border-right:0 none;}
.m-product-list-content-more{height:1.3225806451612903rem;line-height: 1.3225806451612903rem;text-align: center;color:#898989;}
.m-product-list-more-content{display: none;}
.m-product-list-more-content .fourlist li{border-bottom:0 none;}
.swiper-container-banner{font-size:0; width:100%;position: relative;}
.swiper-banner-pagination{position:absolute;z-index: 2;}
.m-product-goods-list .onelist{border-bottom:0 none;}
.m-product-goods-list .fourlist li:nth-child(3),.m-product-goods-list .fourlist li:nth-child(4){border-bottom:0 none;}

.m-product-lists{margin-bottom:0.7096774193548387rem;}
/*三个轮播商品*/
.m-product-list-swiper-content{width:100%; box-sizing:border-box;overflow-x:scroll;}
.m-product-list-swiper-content ul{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.m-product-list-swiper-content li{padding:0 0.28rem 0.6129032258064516rem;box-sizing:border-box;-webkit-flex-shrink: 0; -ms-flex: 0 0 auto;flex-shrink: 0;margin-right:0.2rem;}
.m-product-list-swiper-content li div{width:3.032258064516129rem;/* margin-right:0.16129032258064516rem;*/ padding-top:0.6129032258064516rem; /*height:4.806451612903226rem;*/ overflow: hidden; box-sizing:border-box;}
.m-product-list-swiper-content li div img{width:1.903225806451613rem; /*height:3.1rem;*/margin:0 auto;display: block;}
.m-product-list-swiper-content li div p{width:100%;text-align: center;padding:0 0.16129032258064516rem;box-sizing:border-box;}
.m-product-list-swiper-content li div p.text{font-size:0.2903225806451613rem; margin-bottom:0.16129032258064516rem; color:#1e2340;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}
.m-product-list-swiper-content li div p.price{font-size:0.2903225806451613rem;color:#ff0000;}
/*双banner*/
.m-product-list-twobanner-content{width:100%;padding:0 0.12903225806451613rem;box-sizing:border-box;}
.m-product-list-twobanner-content>div{width:50%;}

.m-index-tab{padding:0 0.04838709677419355rem;}
.m-index-tab .m-tab-header{position:relative;padding-bottom:0.12903225806451613rem;}
.m-tab-intelligence,.m-tab-knowledge{color:#fff; width:4.935483870967742rem;line-height:0.7741935483870968rem;text-align:center;font-size:0.3387096774193548rem;}
.m-tab-intelligence em.text-box,.m-tab-knowledge em.text-box{ width:1.532258064516129rem;height:0.43548387096774194rem;line-height: 0.43548387096774194rem;background: #fff;color:#000;border-radius: 0.1935483870967742rem;font-size:0.2903225806451613rem;display: inline-block;}
.m-tab-intelligence em.text-box img,.m-tab-knowledge em.text-box img{width:0.16129032258064516rem;height:0.27419354838709675rem;vertical-align: middle; margin-right:0.0967741935483871rem;}
.m-tab-intelligence .btn,.m-tab-knowledge .btn{background: #a8a8a8;margin-bottom:0.016129032258064516rem;}
.m-index-tab .cur{background: #44413a;}
.m-tab-intelligence .xian,.m-tab-knowledge .xian{width:100%;height:0.08064516129032258rem;background: #000;}
.m-tab-intelligence{margin-right:0.03225806451612903rem;}
.m-index-tab .jtx{width:0.24193548387096775rem;height:0.14516129032258066rem;position:absolute;bottom:0;left:2.0161290322580645rem;}
.m-index-tab .right-cur{width: 0.24193548387096775rem; height: 0.14516129032258066rem; position: absolute; bottom: 0;right:2.0161290322580645rem;}
.m-index-tab .m-index-tab-lists{width:100%;border:0.016129032258064516rem solid #a9a8ad;box-shadow:0 0.0967741935483871rem 0.0967741935483871rem #a9a8ad;padding:0 0.08064516129032258rem;border-top:0 none; box-sizing:border-box;}
.m-index-tab .m-index-tab-list{font-size:0.2903225806451613rem; width:100%;height:2.5806451612903225rem;border-bottom:0.016129032258064516rem solid #a9a8ad; padding-top:0.20967741935483872rem;color:#000; box-sizing:border-box;}
.m-index-tab .m-index-tab-list:last-child{width:100%;height:2.5806451612903225rem;border-bottom:0 none;}
.m-index-tab .m-index-tab-list .time{color:#d67f81;line-height: 0.6774193548387096rem;}
.m-index-tab .m-index-tab-list .content{overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;line-height: 0.45161290322580644rem;}

.m-index-explain{width:100%;background: #f3f2f1;padding:0.4838709677419355rem 0.16129032258064516rem 0.24193548387096775rem;box-sizing:border-box;}
.m-index-explain li{width:4.741935483870968rem;height:1.064516129032258rem; margin-bottom:0.24193548387096775rem; float:left;}
.m-index-explain li:odd{margin-right:0.12903225806451613rem;}
.m-index-link li{width:50%;}
.m-index-link li:nth-child(1),.m-index-link li:nth-child(2){border-bottom:0.016129032258064516rem solid #969590;}
.m-index-link li:nth-child(1),.m-index-link li:nth-child(3){border-right:0.016129032258064516rem solid #969590;box-sizing:border-box;}
.m-index-link li a{width:100%;line-height: 0.9354838709677419rem;padding-left:0.20967741935483872rem;box-sizing:border-box;background: #e4e1d8;font-size:0.2903225806451613rem;color:#656463;display: inline-block;}
.m-index-look{padding:0.6129032258064516rem 0 0.3225806451612903rem;background: #fff;}
.m-index-look>div{width:6.064516129032258rem;height:1.1774193548387097rem;margin:0 auto 0.3870967741935484rem;}

.m-common-footer-index{margin-bottom:1.5rem;}


/*详情页*/
.m-detail-container{background: #e8e8e8;padding-top:0.6451612903225806rem;}
.m-detail-content{background: #f4f4f4;padding-top:0.6451612903225806rem;}
.m-detail-product .pic{width:7.564516129032258rem;margin:0 auto 0.3225806451612903rem;}
.m-detail-product .name,.m-detail-product .price,.m-detail-product .promise{width:7.564516129032258rem;margin:0 auto;text-align:right;}
.m-detail-product .name{line-height: 0.6774193548387096rem;color:#060606;font-size:0.3225806451612903rem;}
.m-detail-product .price{line-height: 0.4838709677419355rem;color:#060606;font-size:0.2903225806451613rem;margin-bottom:0.2903225806451613rem;}
.m-detail-product .price em{color:#f00;font-size:0.3709677419354839rem;}
.m-detail-product .promise{font-size:0; padding-bottom:0.3064516129032258rem;}
.m-detail-product .promise>div{margin-right:0.16129032258064516rem; width:1.7580645161290323rem;}
.m-detail-product .promise>div:last-child{margin-right:0;}
.m-detail-num{position:relative;height:1.3387096774193548rem;border-top:0.016129032258064516rem solid #cecece; text-align: right;padding-right:0.5967741935483871rem; border-bottom:0.016129032258064516rem solid #cecece; margin:0 0.6129032258064516rem; padding-top:0.3064516129032258rem; box-sizing: border-box;}
.m-detail-num label{font-size:0.3225806451612903rem;color:#060606;}
.m-detail-num select{width:3.435483870967742rem;height:0.6935483870967742rem; padding-left:0.16129032258064516rem; border:0.016129032258064516rem solid #cecece; border-radius: 0.08064516129032258rem; box-sizing: border-box;}
.m-detail-num .jt{display: none; width:0.3387096774193548rem;height:0.24193548387096775rem;position: absolute;top:0.5806451612903226rem;right:0.7741935483870968rem;background: url("../images/icon-blackjtx.png")no-repeat top left;background-size:100%; }
.m-detail-addcar{padding-top:0.7258064516129032rem; width:7.580645161290323rem;margin:0 auto;}
.m-detail-product-point{width:7.580645161290323rem;height:1.7741935483870968rem;margin:0 auto;padding-top:0.5161290322580645rem; font-size:0.3225806451612903rem; line-height: 0.4032258064516129rem; color:#060606; box-sizing:border-box;}
.m-detail-separatedesc,.m-detail-engravingins{/*width:7.580645161290323rem;margin:0 auto;*/ background: #fff;}
.m-detail-separatedesc-header,.m-detail-engravingins-header{font-size:0.41935483870967744rem; background: url("../images/img-header-bg.jpg") no-repeat left top;background-size:100%;height:0.7903225806451613rem;line-height: 0.7903225806451613rem;color:#fff;text-align: center; }
.m-detail-separatedesc{margin-bottom:0.7580645161290323rem;color:#060606;font-size:0.2903225806451613rem;padding:0 0 0.3870967741935484rem; line-height: 0.5483870967741935rem;}
.m-detail-separatedesc .title{text-align: center;color:#f10101; font-size:0.41935483870967744rem;line-height: 0.7741935483870968rem;}
.m-detail-separatedesc .desc{margin-bottom:0.16129032258064516rem;}
.m-detail-separatedesc .desc,.m-detail-separatedesc ul{padding:0 0.14516129032258066rem;}
.m-detail-engravingins{margin-bottom:0.5806451612903226rem;}
.m-detail-engravingins-content table{border-left:0.016129032258064516rem solid #cecece; width:100%;box-sizing: border-box;}
.m-detail-engravingins-content table td{border-right:0.016129032258064516rem solid #cecece;border-bottom:0.016129032258064516rem solid #cecece;}
.m-detail-engravingins-content table tr td:first-child{width:2.4516129032258065rem;height:1.4516129032258065rem;line-height: 1.4516129032258065rem;text-align: center;}
.m-detail-engravingins-content table td.text{padding-left:0.25806451612903225rem;box-sizing: border-box;}
.m-detail-backbtn{width:4.967741935483871rem;height:1.064516129032258rem;margin: 0 auto;padding-bottom:0.2903225806451613rem;}
.m-detail-wrapper{padding-bottom:1.5rem;}

/*分类页*/
.m-classify-container{padding-bottom:1.5rem;}
.m-classify-explain .title{width:100%;color:#080808;text-align: center;padding:0 0.3225806451612903rem; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height:1.3709677419354838rem;line-height: 1.3709677419354838rem;font-size:0.41935483870967744rem;box-sizing:border-box;}
.m-classify-explain .desc{width:100%;font-size:0.3225806451612903rem;color:#000;border-top:0.08064516129032258rem solid #733e43;line-height: 0.3870967741935484rem;padding:0.3225806451612903rem;box-sizing: border-box;}
.m-classify-ranking{display: none;}
.m-classify-ranking img{width:100%;}
.m-classify-ranking .header,.m-classify-type .header{width:100%;height:0.8709677419354839rem;line-height: 0.8709677419354839rem;color:#fff;padding-left:0.27419354838709675rem;background: url("../images/img-classify-bg.jpg")no-repeat left top; background-size:100%;box-sizing: border-box;}
.m-classify-ranking .content{/*padding:0.5483870967741935rem 0.16129032258064516rem 0.5967741935483871rem;*/width:100%;background: #fff;box-sizing: border-box;overflow:hidden;}
.m-classify-type{background: #f4f3f3;display: none;}
.m-classify-type .content{ padding:0.4032258064516129rem 0.11290322580645161rem 0.5645161290322581rem;margin-bottom:0.12903225806451613rem;}
.m-classify-type .content ul{display: none;}
.m-classify-type .content li{width:1.4516129032258065rem;height:2.193548387096774rem;border:0.016129032258064516rem solid #999; background: #fff; float:left;margin:0 0.2129032258064516rem 0.3064516129032258rem 0;padding-top:0.016129032258064516rem;padding-bottom:0.1rem;box-sizing: border-box;}
.m-classify-type .content li:last-child{margin-right:0;}
.m-classify-type .content li .img{width:1.2580645161290323rem;font-size:0;height:0.9193548387096774rem;margin: 0 auto;}
.m-classify-type .content li p{min-height:0.8rem; color:#069;font-size:0.1935483870967742rem;text-align: center;line-height: 0.2903225806451613rem;}
.m-classify-type .content li .price{color:#f00;text-align: center;font-size:0.1935483870967742rem;line-height: 0.2903225806451613rem;}
.m-classify-type .btn-box{padding:0 0.12903225806451613rem 0.5483870967741935rem;box-sizing: border-box;}
.m-classify-type .btn{width:3.532258064516129rem;height:0.6774193548387096rem;background: url("../images/icon-classify-btn01.png")no-repeat left top;background-size: 100%;}

.m-classify-modules{width:100%;overflow: hidden;background: #fff;}
.modules-list-img{}
.modules-list-text{line-height: 0.4838709677419355rem;padding:0.12903225806451613rem 0.24193548387096775rem 0.3225806451612903rem; font-size:0.3225806451612903rem;color:#0a0a0a;}
.modules-list-content-scroll{width:100%;overflow-x:scroll;margin-bottom:0.967741935483871rem;}
.modules-list-content-scroll ul{ display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.modules-list-content-scroll li{margin:0 0.22580645161290322rem 0 0.532258064516129rem;webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0;}
.modules-list-content-scroll .img{width:2.838709677419355rem;font-size:0;border:0.016129032258064516rem solid #c6c6c6;height:4.725806451612903rem;box-sizing:border-box;margin-right:0.6129032258064516rem;}
.modules-list-content-scroll .detail{width:3.6774193548387095rem;height:2.7580645161290325rem;margin:0.16129032258064516rem 0 0.8064516129032258rem;background:#ededed; font-weight:600;color:#060606;padding:0.3225806451612903rem 0.16129032258064516rem 0;font-size:0.1935483870967742rem;box-sizing:border-box;}
.modules-list-content-scroll .detail .name{font-size:0.2903225806451613rem;line-height: 0.5161290322580645rem;margin-bottom:0.41935483870967744rem;}
.modules-list-content-scroll .detail .price{font-size:0.25806451612903225rem;text-align: right; color:#f00;margin-top:0.22580645161290322rem;}
.modules-list-content-scroll .btn{cursor: pointer;width:3.6774193548387095rem;height:0.9193548387096774rem;background: url("../images/icon-addcar.jpg")no-repeat left top;background-size: 100%;}
.modules-list-content-to{margin-bottom:0.6451612903225806rem;text-align: right;text-decoration: underline;}
.modules-list-content-to a{color:#2f2aff;font-size:0.3225806451612903rem;margin-right:0.2903225806451613rem;}

/*购物车*/
.m-shoppingcart-container{width:9.483870967741936rem;margin:0 auto; overflow: hidden;}
.m-common-step-box{margin-bottom:0.3225806451612903rem;}
.m-common-step{width:100%;padding-top:0.3225806451612903rem;margin-bottom:0.16129032258064516rem;}
.m-common-step-text{width:100%;border-bottom:0.016129032258064516rem solid #0f0f0f;text-align: left;font-size:0.25806451612903225rem;color:#000;line-height: 0.6129032258064516rem;}
.m-shoppingcart-login{display:none;width:100%; padding:0.16129032258064516rem;line-height: 0.4838709677419355rem; background: #eeeded;color:#000;font-size:0.25806451612903225rem;box-sizing:border-box;margin-bottom:0.16129032258064516rem;}
.m-shoppingcart-login .text{width:6.258064516129032rem;}
.m-shoppingcart-login .btn{margin-top:0.12903225806451613rem;width:2.6774193548387095rem;height:0.7258064516129032rem;}
.m-shoppingcart-detail-title{border-bottom:0.016129032258064516rem solid #0f0f0f;font-size:0.3225806451612903rem;color:#000; line-height: 0.6451612903225806rem;margin-bottom:0.16129032258064516rem;}
.m-shoppingcart-detail .content-no-goback{width:6.032258064516129rem;height:1.032258064516129rem;margin:0.967741935483871rem auto 1.7741935483870968rem;}
.m-shoppingcart-detail .content-no{line-height: 0.3870967741935484rem;font-size:0.25806451612903225rem;}
table.m-shoppingcart-content-no-table{display: none; font-size:0.25806451612903225rem; text-align: center;color:#000;background: #eeeded;width:100%; margin-bottom:0.06451612903225806rem;}
table.m-shoppingcart-content-no-table td{width:33.3%;height:1.0806451612903225rem;border-right:0.016129032258064516rem dashed #858585;border-bottom:0.016129032258064516rem dashed #858585;}
table.m-shoppingcart-content-no-table td:last-child{border-right:0 none;}
table.m-shoppingcart-content-no-table tr:last-child td{border-bottom:0 none;}
.m-shoppingcart-detail .content-has,.m-shoppingcart-detail .content-no{display: none;}
.m-shoppingcart-detail .content-has .product-lists{border-bottom:0.016129032258064516rem solid #000;}
.m-shoppingcart-detail .content-has .product{background: #eeeded;padding:0.1935483870967742rem 0.11290322580645161rem;width:100%;box-sizing:border-box;}
.m-shoppingcart-detail .content-has .product .del{width:1.1935483870967742rem;height:0.6451612903225806rem;line-height: 0.6451612903225806rem;text-align: center;color:#fff;background: #000;margin:0.532258064516129rem 0.22580645161290322rem 0 0;border-radius: 0.04838709677419355rem;}
.m-shoppingcart-detail .content-has .product .pic{width:1.6774193548387097rem;height:1.6774193548387097rem; margin-right:0.3225806451612903rem; border:0.016129032258064516rem solid #000;box-sizing:border-box;overflow:hidden;}
.m-shoppingcart-detail .content-has .product .text{width:5.580645161290323rem;max-height:1.6774193548387097rem;font-size:0.25806451612903225rem;color:#000;line-height: 0.41935483870967744rem;overflow: hidden;}
.m-shoppingcart-detail .content-has .num-box{font-size:0.3225806451612903rem; height:1.3548387096774193rem;line-height: 1.3548387096774193rem;width:100%;text-align: right;}
.m-shoppingcart-detail .content-has .num-box span.add,.m-shoppingcart-detail .content-has .num-box span.reduce{display:inline-block;width:0.4838709677419355rem;line-height: 0.45161290322580644rem;height: 0.4838709677419355rem;text-align: center;border:0.016129032258064516rem solid #000;box-sizing: border-box;}
.m-shoppingcart-detail .content-has .num-box span.num{vertical-align: middle; width:1rem;height:0.5161290322580645rem;border:0.016129032258064516rem solid #000;line-height: 0.5161290322580645rem;text-align: center;box-sizing: border-box;display: inline-block;border-radius: 0.06451612903225806rem;box-shadow: inset 0 0 0.08064516129032258rem #000;}
.m-shoppingcart-detail .content-has .product-price{text-align: right;font-size:0.25806451612903225rem;height:0.967741935483871rem;line-height: 0.967741935483871rem;margin-bottom:0.16129032258064516rem;}
.m-shoppingcart-detail .content-has .product-price em{font-size:0.3225806451612903rem; font-weight: 600;}
.m-shoppingcart-detail .content-has .product-total{padding-left:0.41935483870967744rem; color:#000; width:100%;height:1.096774193548387rem; font-weight: 600; line-height: 1.096774193548387rem;background:#eeeded;font-size:0.3225806451612903rem;box-sizing: border-box;}
.m-shoppingcart-detail .content-has .product-notice{font-size:0.22580645161290322rem;padding:0.4838709677419355rem 0; line-height: 0.41935483870967744rem;}
.m-shoppingcart-container .product-btn{margin-bottom:1.2903225806451613rem;}
.m-shoppingcart-container .product-btn>div{width:4.451612903225806rem;}
.m-shoppingcart-detail .content-has .product-btn{padding:0.3225806451612903rem 0 0;}
.m-shoppingcart-detail .content-has .product-btn>div{width:4.451612903225806rem;}
/*商品情报*/
.m-shoppinginfo-notice{color:#1d57b7;font-size:0.25806451612903225rem;text-align: center;border:0.016129032258064516rem solid #c4c4c4;height:0.6451612903225806rem;line-height: 0.6129032258064516rem;box-sizing: border-box;margin-bottom:0.3225806451612903rem;}
/*.m-shoppinginfo-product-lists{margin-bottom:0.3225806451612903rem;}*/
.m-shoppinginfo-product-list{height:2.032258064516129rem;padding:0.1935483870967742rem 0.22580645161290322rem 0.16129032258064516rem; font-size:0.25806451612903225rem; line-height: 0.5806451612903226rem; box-sizing: border-box;background: #eeeded;margin-bottom:0.3225806451612903rem;}
.m-shoppinginfo-product-list img{font-size:0; width:1.6774193548387097rem;height:1.6774193548387097rem;border:0.016129032258064516rem solid #000;box-sizing: border-box;margin-right:0.22580645161290322rem;}
.m-shoppinginfo-product-list p{width:6.709677419354839rem;}
.m-shoppinginfo-font .title,.m-shoppinginfo-atari .title,.m-shoppinginfo-sculpture .title,.m-shoppinginfo-additional .title{width:100%; font-size:0.3225806451612903rem; height:0.9032258064516129rem;line-height: 0.9032258064516129rem;padding:0 0.16129032258064516rem;box-sizing: border-box; background: #eeeded;}
.m-shoppinginfo-font .title span,.m-shoppinginfo-sculpture .title span{display: inline-block;margin-left:0.22580645161290322rem; font-size: 0.25806451612903225rem; width:0.7903225806451613rem;height:0.3870967741935484rem;background: #f00;line-height: 0.3870967741935484rem;text-align: center;color:#fff;}
.m-shoppinginfo-font-lists-box{padding-top:0.4032258064516129rem;height: 2.225806451612903rem; overflow:hidden; margin-bottom:0.46774193548387094rem;}
.m-shoppinginfo-font-lists-box li{width:30%;font-size:0.22580645161290322rem;text-align: center; height: 2.225806451612903rem;}
.m-shoppinginfo-font-lists-box li img{width:1.4838709677419355rem;height:1.4838709677419355rem;}
.m-shoppinginfo-font-lists-box li .select-btn{line-height: 0.7419354838709677rem;}
.m-shoppinginfo-font-lists-box li input{margin-right:0.06451612903225806rem;}
.m-shoppinginfo-font-btn,.m-shoppinginfo-atari-btn,.m-shoppinginfo-additional-btn{width:5.709677419354839rem;height:0.6774193548387096rem;border:0.016129032258064516rem solid #717171; text-align: center;line-height: 0.6451612903225806rem;color:#000;font-size:0.25806451612903225rem; border-radius: 0.08064516129032258rem; background: #f0f0f0;margin: 0 auto 0.532258064516129rem;box-sizing: border-box;}
.m-shoppinginfo-atari .title{font-size:0.2903225806451613rem;padding:0;white-space: nowrap;}
.m-shoppinginfo-atari .title small{font-size:0.22580645161290322rem;}
.m-shoppinginfo-atari .title span{font-size:0.20967741935483872rem;color:#f00;}
.m-shoppinginfo-atari .decs{font-size:0.25806451612903225rem;line-height: 0.45161290322580644rem;padding:0.24193548387096775rem 0;margin-bottom:0.2903225806451613rem;}
.m-shoppinginfo-atari-lists-box{margin-bottom:0.5967741935483871rem;height:5.18rem;overflow:hidden;}
.m-shoppinginfo-atari-lists-box ul{width:100%;border-top:0.016129032258064516rem solid #c4c4c4;border-left:0.016129032258064516rem solid #c4c4c4;box-sizing: border-box;}
.m-shoppinginfo-atari-lists-box li{float:left; width:25%; float:left; font-size:0.25806451612903225rem; border-right:0.016129032258064516rem solid #c4c4c4;border-bottom:0.016129032258064516rem solid #c4c4c4;text-align: center;box-sizing: border-box;}
.m-shoppinginfo-atari-lists-box li .top{height:1.5483870967741935rem;text-decoration: underline;font-weight: 600;}
.m-shoppinginfo-atari-lists-box li img{width:0.45161290322580644rem;height: 0.45161290322580644rem;margin: 0.2903225806451613rem auto 0.16129032258064516rem;}
.m-shoppinginfo-atari-lists-box li .no-img{line-height: 1.5483870967741935rem; text-decoration: none;}
.m-shoppinginfo-atari-lists-box li .atari-title{height:1rem; line-height: 1rem; border-top:0.016129032258064516rem solid #c4c4c4;box-sizing:border-box;background: #eeeeee;}
.m-shoppinginfo-sculpture-name,.m-shoppinginfo-sculpture-code{height:1.8064516129032258rem;border-bottom:0.016129032258064516rem solid #000; line-height: 0.5806451612903226rem; padding:0.3870967741935484rem 0 0 0.2903225806451613rem;box-sizing: border-box;font-size:0.25806451612903225rem;}
.m-shoppinginfo-sculpture-name label,.m-shoppinginfo-sculpture-code label{font-weight: 600;margin-right:0.5806451612903226rem;}
.m-shoppinginfo-sculpture-name input{height:0.5806451612903226rem;width:4.548387096774194rem;border:0.016129032258064516rem solid #c4c4c4;box-sizing: border-box;margin-right:0.22580645161290322rem;}
.m-shoppinginfo-sculpture-name p,.m-shoppinginfo-sculpture-code p{font-weight: 0.22580645161290322rem;margin-top:0.08064516129032258rem;text-align: center;}
.m-shoppinginfo-sculpture-code label{margin-right:0;}
.m-shoppinginfo-sculpture-code input{width:3.774193548387097rem;height:0.5806451612903226rem;border:0.016129032258064516rem solid #c4c4c4;box-sizing: border-box;margin-right:0.7096774193548387rem;}
.m-shoppinginfo-sculpture-code span{width:1.8225806451612903rem;background: #838383;display: inline-block;text-align: center;height:0.5645161290322581rem;line-height: 0.532258064516129rem;color:#fff;border:0.016129032258064516rem solid #b09191; border-radius: 0.03225806451612903rem; box-sizing: border-box;}
.m-shoppinginfo-sculpture-hand,.m-shoppinginfo-sculpture-confirm{padding-bottom:0.3225806451612903rem;font-size:0.25806451612903225rem; line-height: 0.6129032258064516rem;padding-top:0.45161290322580644rem;border-bottom:0.016129032258064516rem solid #000;box-sizing:border-box;}
.sculpture-hand-name,.sculpture-confirm-name{width:2.3548387096774195rem;}
.sculpture-hand-content,.sculpture-confirm-content{width:7.064516129032258rem;}
.m-shoppinginfo-additional .title{font-size:0.2903225806451613rem;white-space: nowrap;margin-bottom:0.6451612903225806rem;}
.m-shoppinginfo-additional-lists-box{margin-bottom:0.5967741935483871rem;height:7.244rem;overflow:hidden;}
.m-shoppinginfo-additional-lists-box ul{width:100%;border-top:0.016129032258064516rem solid #c4c4c4;border-left:0.016129032258064516rem solid #c4c4c4;box-sizing: border-box;}
.m-shoppinginfo-additional-lists-box li{float:left; width:25%; float:left; font-size:0.25806451612903225rem; border-right:0.016129032258064516rem solid #c4c4c4;border-bottom:0.016129032258064516rem solid #c4c4c4;text-align: center;box-sizing: border-box;}
.m-shoppinginfo-additional-lists-box li .top{height:2.58rem;text-decoration: underline;font-weight: 600;}
.m-shoppinginfo-additional-lists-box li .no-underline{text-decoration: none;}
.m-shoppinginfo-additional-lists-box li img{width:1.4516129032258065rem;height: 1.4516129032258065rem;}
.m-shoppinginfo-additional-lists-box li .additional-title{height:1rem; line-height: 1rem; border-top:0.016129032258064516rem solid #c4c4c4;box-sizing:border-box;background: #eeeeee;}
.m-shoppinginfo-content input[type="radio"]{vertical-align: middle;}
.m-shoppinginfo-add-box{margin-bottom:0.3225806451612903rem;}


/*支付方式*/
.m-shoppingpay-product,.m-shoppingaddr-product,.m-shoppingconfirm-product,.m-shopping-product{padding-bottom:0.43548387096774194rem;}
.m-shoppingpay-product-lists>div,.m-shoppingaddr-product-lists>div,.m-shoppingconfirm-product-lists>div,.m-shopping-product-lists>div{background: #eeeded;font-size:0.25806451612903225rem;margin-bottom:0.11290322580645161rem;}
.m-shoppingpay-product-list-one,.m-shoppingaddr-product-list-one,.m-shoppingconfirm-product-list-one,.m-shopping-product-list-one{height:2.032258064516129rem;padding:0.1935483870967742rem 0.24193548387096775rem 0.16129032258064516rem;box-sizing:border-box;}
.m-shoppingpay-product-list-one .img,.m-shoppingaddr-product-list-one .img,.m-shoppingconfirm-product-list-one .img,.m-shopping-product-list-one .img{width:1.6774193548387097rem;height:1.6774193548387097rem;border:0.016129032258064516rem solid #000;box-sizing:border-box;margin-right:0.45161290322580644rem;}
.m-shoppingpay-product-list-one .text,.m-shoppingaddr-product-list-one .text,.m-shoppingconfirm-product-list-one .text,.m-shopping-product-list-one .text{padding-top:0.06451612903225806rem;line-height: 0.4838709677419355rem;width:4.451612903225806rem;}
.m-shoppingpay-product-list-one .price,.m-shoppingaddr-product-list-one .price,.m-shoppingconfirm-product-list-one .price,.m-shopping-product-list-one .price{padding-top:0.6451612903225806rem;}
.m-shoppingpay-product-list-more,.m-shoppingaddr-product-list-more,.m-shoppingconfirm-product-list-more,.m-shopping-product-list-more{padding:0.11290322580645161rem 0.24193548387096775rem 0.12903225806451613rem 0.9516129032258065rem;width:100%;box-sizing:border-box;}
.m-shoppingpay-product-list-single,.m-shoppingaddr-product-list-single,.m-shoppingconfirm-product-list-single,.m-shopping-product-list-single{margin-bottom:0.11290322580645161rem;width:100%;}
.m-shoppingpay-product-list-single .img,.m-shoppingaddr-product-list-single .img,.m-shoppingconfirm-product-list-single .img,.m-shopping-product-list-single .img{width:0.8387096774193549rem;height:0.8387096774193549rem; margin-right:0.5483870967741935rem; border:0.016129032258064516rem solid #000;box-sizing:border-box;}
.m-shoppingpay-product-list-single .text,.m-shoppingaddr-product-list-single .text,.m-shoppingconfirm-product-list-single .text,.m-shopping-product-list-single .text{width:4.354838709677419rem;line-height: 0.3870967741935484rem;}
.m-shoppingpay-product-list-single .price,.m-shoppingaddr-product-list-single .price,.m-shoppingconfirm-product-list-single .price,.m-shopping-product-list-single .price{padding-top:0.3225806451612903rem;}
.m-shoppingpay-product-price{padding:0.5rem 0 0.6129032258064516rem;}
.m-shoppingpay-product-price .hj{width:1.9838709677419355rem;height:0.6774193548387096rem;text-align: center;line-height: 0.6774193548387096rem;background: #d00000;color:#fff;}
.m-shoppingpay-product-price .price{color:#d00000;background: #fff;border:0.016129032258064516rem solid #d00000;height:0.6774193548387096rem;line-height: 0.6451612903225806rem; padding:0 0.1935483870967742rem; box-sizing:border-box;}
.m-shoppingpay-product-notice{text-align: right;background: #eeeded;font-size:0.22580645161290322rem;line-height: 0.45161290322580644rem;font-weight: 600;padding:0.06451612903225806rem 0.12903225806451613rem;box-sizing:border-box;}
.m-shoppingpay-payment>div.title,.m-shoppingpay-confirm>div.title{ margin-bottom:0.43548387096774194rem; width:100%; font-size:0.3225806451612903rem; height:0.9032258064516129rem;line-height: 0.9032258064516129rem;padding:0 0.16129032258064516rem;box-sizing: border-box; background: #eeeded;}
.m-shoppingpay-payment>div.title span{display: inline-block;margin-left:0.22580645161290322rem; font-size: 0.25806451612903225rem; width:0.7903225806451613rem;height:0.3870967741935484rem;background: #f00;line-height: 0.3870967741935484rem;text-align: center;color:#fff;}
.m-shoppingpay-payment-lists>div{margin-bottom:0.25806451612903225rem;}
.m-shoppingpay-payment-lists .content{display: none;}
.m-shoppingpay-payment-lists .head{height:0.8387096774193549rem;line-height: 0.8387096774193549rem;background: url("../images/bg-payment.png")no-repeat left top; padding:0 0.27419354838709675rem; background-size: 100%; box-sizing:border-box;}
.m-shoppingpay-payment-lists .head input{vertical-align: middle;}
.m-shoppingpay-payment-lists p{font-size:0.22580645161290322rem;line-height: 0.3870967741935484rem;padding:0.0967741935483871rem 0.3225806451612903rem;}
.m-shoppingpay-payment-lists .name,.m-shoppingpay-payment-lists .val{font-size:0.25806451612903225rem; padding-left:0.22580645161290322rem;box-sizing: border-box;}
.m-shoppingpay-payment-lists .name{line-height: 0.6451612903225806rem;}
.m-shoppingpay-payment-creditcard #company,.m-shoppingpay-payment-creditcard input[type="text"]{ padding-left:0.22580645161290322rem; width:7.564516129032258rem;height:0.5483870967741935rem;border:0.016129032258064516rem solid #c4c4c4;box-sizing: border-box;}
.m-shoppingpay-payment-creditcard .img{padding-left:0.16129032258064516rem; font-size:0;}
.m-shoppingpay-payment-creditcard .img img{width:3.5483870967741935rem;height:0.7419354838709677rem;}
.m-shoppingpay-payment-creditcard .company,.m-shoppingpay-payment-creditcard .card{margin-bottom:0.1935483870967742rem;}
.m-shoppingpay-payment-transfer table{ margin:0 auto; font-size:0.22580645161290322rem; width:7.580645161290323rem; border-top:0.016129032258064516rem solid #ccc;border-left:0.016129032258064516rem solid #ccc;box-sizing: border-box;line-height: 0.3870967741935484rem;text-align: center;}
.m-shoppingpay-payment-transfer table td{border-right:0.016129032258064516rem solid #ccc;border-bottom:0.016129032258064516rem solid #ccc;}
.m-shoppingpay-payment-transfer table td:first-child{background: #f3f3f3;}
.m-shoppingpay-payment-store .content .left{width:70%;}
.m-shoppingpay-payment-store .content .right{width:30%;}
.m-shoppingpay-confirm{font-size:0.22580645161290322rem;line-height: 0.41935483870967744rem;padding-bottom:1.1935483870967742rem;}
.m-shoppingpay-confirm>div.title{margin-bottom:0.16129032258064516rem;}
.m-shoppingpay-confirm dt{font-weight: 600;}
.m-shoppingpay-confirm dd,.m-shoppingpay-confirm-content .ll{padding:0 0.12903225806451613rem;}
.m-shoppingpay-confirm-content{padding:0 0.16129032258064516rem;}
.m-shoppingpay-confirm-content input{vertical-align: middle;}
.m-shoppingpay-payment-creditcard #year,.m-shoppingpay-payment-creditcard #month{width:1.5rem;}
/*收货地址*/
.m-shoppingaddr-detail-module-box{margin-bottom:1.1935483870967742rem;}
.m-shoppingaddr-detail-info>div.title{width:100%;height:0.6451612903225806rem;line-height: 0.6129032258064516rem; background: #eeeded;padding-left:0.22580645161290322rem; margin-bottom:0.27419354838709675rem; border-bottom:0.03225806451612903rem solid #000;box-sizing: border-box;font-size:0.3225806451612903rem;}
.m-shoppingaddr-detail-module{background:#eeeded; margin-bottom:0.2903225806451613rem; border-bottom:0.03225806451612903rem solid #737373;font-size:0.25806451612903225rem;padding:0 0.22580645161290322rem;box-sizing: border-box; }
.m-shoppingaddr-detail-module p{line-height: 0.45161290322580644rem;}
.m-shoppingaddr-detail-module .title{line-height: 0.7741935483870968rem;}
.m-shoppingaddr-detail-module .title span{width:0.7741935483870968rem;line-height: 0.3870967741935484rem;height:0.3870967741935484rem;background: #f00;color:#fff;text-align: center;display: inline-block;}
.m-shoppingaddr-detail-module>div{margin-bottom:0.16129032258064516rem;}
.m-shoppingaddr-detail-module input[type="text"]{width:7.580645161290323rem;height:0.6129032258064516rem;border:0.016129032258064516rem solid #c4c4c4;padding-left:0.1935483870967742rem;box-sizing: border-box;}
.m-shoppingaddr-detail-module .phone input,.m-shoppingaddr-detail-module .diff-phone input,.m-shoppingaddr-detail-module .fax input,.m-shoppingaddr-detail-module .zipcode input{width:2.129032258064516rem;}
.m-shoppingaddr-detail-module .phone hr,.m-shoppingaddr-detail-module .diff-phone hr,.m-shoppingaddr-detail-module .fax hr,.m-shoppingaddr-detail-module .zipcode hr{display: inline-block; border: 0.03225806451612903rem solid #000; width: 0.1774193548387097rem; vertical-align: middle; margin: 0 0.16129032258064516rem;}
.m-shoppingaddr-detail-module .fax,.m-shoppingaddr-detail-module .department{margin-bottom:0.6451612903225806rem;}
.m-shoppingaddr-detail-module .apartment{margin-bottom:0.4838709677419355rem;}
.m-shoppingaddr-detail-module .prefectural select,.m-shoppingaddr-detail-module .diff-prefectural select{width:4.709677419354839rem;height:0.6129032258064516rem;border:0.016129032258064516rem solid #c4c4c4;}
.m-shoppingaddr-detail-module-diff{display: none;}
.m-shoppingaddr-detail-module-diff h4{line-height: 0.7741935483870968rem;font-weight: 600;}
.m-shoppingaddr-detail-module-diff .diff-name input,.m-shoppingaddr-detail-module-diff .diff-kana input{width:2.129032258064516rem;}
.m-shoppingaddr-detail-module-diff .diff-name input[name="familyname"],.m-shoppingaddr-detail-module-diff .diff-kana input[name="familyname"]{margin-right:0.6774193548387096rem;}
.m-shoppingaddr-detail-module-diff .diff-zipcode input{width:3.7096774193548385rem;}
.m-shoppingaddr-detail-module .zipcode-btn{width:1.8387096774193548rem;height:0.5645161290322581rem;line-height: 0.5645161290322581rem;text-align: center;color:#fff;background: #858585;display: inline-block; vertical-align: middle;border-radius: 0.04838709677419355rem;margin-left:0.4838709677419355rem;}
.m-shoppingaddr-detail-module .prefectural-notice{display: inline-block;margin-left:0.4838709677419355rem;}
.m-shoppingaddr-detail-module .deliverytime select{width:4.741935483870968rem; height:0.6129032258064516rem; border:0.016129032258064516rem solid #c4c4c4;box-sizing: border-box;}
.m-shoppingaddr-detail-module .receiptnotice,.m-shoppingaddr-detail-module .receive,.m-shoppingaddr-detail-module .contactinfo{margin-bottom:0.4838709677419355rem;}
.m-shoppingaddr-detail-module .contactinfo textarea{width:8.774193548387096rem;height:1.935483870967742rem;resize: none;padding:0.16129032258064516rem;box-sizing: border-box;}
.m-shoppingaddr-detail-module:last-child{margin-bottom:0;}
/*确认*/
.m-shoppingconfirm-container table{border-left:0.016129032258064516rem solid #c4c4c4;border-top:0.016129032258064516rem solid #c4c4c4;margin-bottom:0.3548387096774194rem;font-size:0.2903225806451613rem;}
.m-shoppingconfirm-container table td,.m-shoppingconfirm-container table th{border-right:0.016129032258064516rem solid #c4c4c4;border-bottom:0.016129032258064516rem solid #c4c4c4;line-height: 0.7096774193548387rem;text-align: center;}
.m-shoppingconfirm-container table td:first-child{background: #eee;}
table.m-shoppingconfirm-info td:first-child{width:2.6774193548387095rem;}
table.m-shoppingconfirm-info td:last-child{width:6.741935483870968rem;}
table.m-shoppingconfirm-price{float:right; margin-bottom:0.967741935483871rem;}
table.m-shoppingconfirm-price td:first-child{width:2.6774193548387095rem;}
table.m-shoppingconfirm-price td:last-child{width:2.6774193548387095rem;}
table.m-shoppingconfirm-price td.total{background: #f29c9f;}
.m-shoppingconfirm-method,.m-shoppingconfirm-service{width:100%;height:0.9032258064516129rem;line-height: 0.8709677419354839rem;border:0.016129032258064516rem solid #c4c4c4;padding:0 0.2903225806451613rem;margin-bottom:0.3225806451612903rem;box-sizing: border-box;}
table.m-shoppingconfirm-orderinfo{margin-bottom:0.967741935483871rem;}
table.m-shoppingconfirm-orderinfo td:first-child{width:2.6774193548387095rem;}
table.m-shoppingconfirm-orderinfo th{text-align: left; padding-left:0.2903225806451613rem;box-sizing: border-box;}

/*完了*/
.m-shoppingok-detail-module-box{margin-bottom:1.1935483870967742rem;}
.m-shoppingok-detail-info>div.title{width:100%;height:0.6451612903225806rem;line-height: 0.6129032258064516rem; background: #eeeded;padding-left:0.22580645161290322rem; margin-bottom:0.27419354838709675rem; border-bottom:0.03225806451612903rem solid #000;box-sizing: border-box;font-size:0.3225806451612903rem;}
.m-shoppingok-detail-module{background:#eeeded; margin-bottom:0.2903225806451613rem; border-bottom:0.03225806451612903rem solid #737373;font-size:0.25806451612903225rem;padding:0 0.22580645161290322rem;box-sizing: border-box; }
.m-shoppingok-detail-module p{line-height: 0.45161290322580644rem;}
.m-shoppingok-detail-module p:last-child{margin-bottom:0.4838709677419355rem;}
.m-shoppingok-detail-module .title{line-height: 0.7741935483870968rem; border-bottom:0.016129032258064516rem solid #000;box-sizing:border-box;}
.m-shoppingok-detail-module .title span{width:0.7741935483870968rem;line-height: 0.3870967741935484rem;height:0.3870967741935484rem;background: #f00;color:#fff;text-align: center;display: inline-block;}
.m-shoppingok-detail-module>div{margin-bottom:0.16129032258064516rem;}
.m-shoppingok-detail-module .m-shoppingok-detail-module-box{width:8.483870967741936rem;margin:0 auto;}
.m-shoppingok-detail-module .m-shoppingok-detail-module-box .box{background: #fff; line-height: 0.45161290322580644rem; text-align: center; padding:0.2903225806451613rem 0 0.12903225806451613rem;margin:0.3870967741935484rem 0 0.3225806451612903rem;}
.m-shoppingok-detail-module-box .box .s-f00{font-size:0.3225806451612903rem;line-height: 0.5161290322580645rem;}
.m-shoppingok-container .product-btn>div.go{width:4.451612903225806rem;margin:0 auto;}
.m-shoppingok-detail-module-not>div.title,.m-shoppingok-detail-module-not>p{margin-bottom:30px;}
