<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品分类页</title>
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" href="../css/style.css">
	<script type="text/javascript" src="../build/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="../build/js/widget/mobilecommon.js"></script>
	<script type="text/javascript" src="../build/js/widget/common.js"></script>
</head>
<body>
<div class="m-wrapper">
	<div class="m-common-logo">
		<img src="../images/icon-indexbanner.jpg" width="100%" alt="首页banner" />
		<div class="m-common-car">
			<img src="../images/m-car.png" width="100%" alt="" />
			<em>0</em>
		</div>
		<div class="m-common-menu">
			<img src="../images/m-menu.jpg" width="100%" alt="" />
		</div>
	</div>
	<div class="m-common-menu-box">
		<div class="m-common-menu-content">
			<div class="m-common-menu-content-header">
				<div class="btn-box clear">
					<div class="btn right">
						MENU
					</div>
				</div>
				<div class="search-box clear">
					<div class="left">
						<input type="text" />
					</div>
					<div class="left search-btn">
						<img src="../images/icon-whitesearch.png" alt="" />
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-main">
				<div class="m-common-menu-content-lists">
					<div class="m-common-menu-content-list">
						<div class="m-common-menu-content-list-header">
							<div class="name left">
								ユーザー
							</div>
							<div class="jt right">
								<img src="../images/icon-whitejt02.png" alt="" />
							</div>
						</div>
						<ul>
							<li>
								<a href="javascript:void(0)">
									ログイン
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-footer">
				<a class="left" href="javascript:void(0)">
					お問合せ
				</a>
				<a class="right f-top" href="#">
					Top<img src="../images/icon-blackjt.png" alt="" />
				</a>
			</div>
		</div>
		<div class="m-common-menu-close"></div>
	</div>
	<div class="m-container m-classify-container">
		<div class="m-common-containter-nav">
			<ul>
				<li class="left">
					<a href="javascript:void(0)">
						<img src="../images/icon-home.png" alt="" />
						<em>
							ホーム
						</em>
					</a>
				</li>
				<li class="left">
					<a href="javascript:void(0)">
						<em>個人実印</em>
					</a>
				</li>
			</ul>
		</div>
		<div class="m-classify-explain">
			<div class="title">
				個人印鑑・実印
			</div>
			<div class="img">
				<img src="../images/img-classify-big.jpg" width="100%" alt="">
			</div>
			<div class="desc">
				市町村役所へ印鑑登録を行い、印鑑証明を受ける印鑑です。実印は印鑑の中で、もっとも重要な印鑑で、法律上・社会上の権利・義務の発生を伴います。
			</div>
		</div>
		<div class="m-classify-ranking">
			<div class="header">
				RANKING　ランキング
			</div>
			<div class="content">
				<ul>
					<li>
						
					</li>
				</ul>
			</div>
		</div>
		<div class="m-classify-type" id="classify-type">
			<div class="header">
				印鑑素材の選択
			</div>
			<div class="content">
				
			</div>
			<div class="btn-box clear">
				<div class="right btn"></div>
			</div>
		</div>
		<div class="m-classify-modules">
			
		</div>
	</div>
</div>
</body>
</html>
<script type="text/html" id="moduleTpl">
	{{each data as value}}
	<div class="modules-list">
		<div class="modules-list-header">
			<div class="modules-list-img">
				<img src={{value.bodyPic}} width="100%" alt="" />
			</div>
			<div class="modules-list-text">
				{{value.mainDesc}}
			</div>
		</div>
		<div class="modules-list-content">
			<div class="modules-list-content-scroll">
				<ul>
				{{each value.goods as item}}
					<li class="clear left">
						<div class="left img">
							<img src={{item.goods.goods_img}} width="100%" alt="" />
						</div>
						<div class="left">
							<div class="detail">
								<div class="name">
									{{item.goods.goods_name}}
								</div>
								<div>
									[通販価格]
								</div>
								<div class="price">
									{{item.goods.format_shop_price}}
								</div>
							</div>
							<div class="btn">
								
							</div>
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="modules-list-content-other">
				
			</div>
		</div>
		<div class="modules-list-content-to">
			<a href="#classify-type">
				▲印鑑素材一覧へ戻る▲
			</a>
		</div>
	</div>
	{{/each}}
</script>
<script type="text/html" id="classifyTpl">
	<ul class="clear m-show">
	{{each data as value i}}
	{{if i%6 != 0 || i == 0}}
		<li>
			<div class="img">
				<img src={{value.topPic}} width="100%" alt="" />
			</div>
			<p class="title">
				{{value.name[0]}}
				{{if value.name[1]}}<br />
					{{value.name[1]}}
				{{/if}}
			</p>
			<!-- <p class="desc">
				似懂非
			</p> -->
			<div class="price">
				{{value.topPrice}}
			</div>
		</li>
		{{else}}
	</ul>
	<ul>
		<li>
			<div class="img">
				<img src="../images/img-classify-type.jpg" width="100%" alt="" />
			</div>
			<p class="title">
				拓
			</p>
			<p class="desc">
				似懂非
			</p>
			<div class="price">
				1784
			</div>
		</li>
		{{/if}}
	{{/each}}
	</ul>
</script>

<script type="text/javascript" src="../build/js/lib/template.js"></script>
<script type="text/javascript" src="../build/js/self/classify.js"></script>	