<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品分类页</title>
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" href="../build/css/style.css">
	<script type="text/javascript" src="../build/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="../build/js/widget/mobilecommon.js"></script>
	<script type="text/javascript" src="../build/js/widget/common.js"></script>
</head>
<body>
<div class="m-wrapper m-classify-wrapper">
	<div class="m-common-logo">
		<a href="index.html"><img src="../images/icon-indexbanner.jpg" width="100%" alt="首页banner" /></a>
		<div class="m-common-car">
			<img src="../images/m-car.png" width="100%" alt="" />
			<em>0</em>
		</div>
		<div class="m-common-menu">
			<img src="../images/m-menu.jpg" width="100%" alt="" />
		</div>
	</div>
	<div class="m-common-menu-box">
		<div class="m-common-menu-content">
			<div class="m-common-menu-content-header">
				<div class="btn-box clear">
					<div class="btn right">
						MENU
					</div>
				</div>
				<div class="search-box clear">
					<div class="left">
						<input type="text" />
					</div>
					<div class="left search-btn">
						<img src="../images/icon-whitesearch.png" alt="" />
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-main">
				<div class="m-common-menu-content-lists">
					
				</div>
			</div>
			<div class="m-common-menu-content-footer">
				<a class="left" href="http://www.inkans.com/ask.php">
					お問合せ
				</a>
				<a class="right f-top" href="#">
					Top<img src="../images/icon-blackjt.png" alt="" />
				</a>
			</div>
		</div>
		<div class="m-common-menu-close"></div>
	</div>
	<div class="m-common-stick">
		<div class="left">
			<div class="m-common-stick-car">
				<a href="shoppingcart.html"><img src="../images/m-car-white.png" width="100%" alt="" /></a>
			</div>
		</div>
		<div class="left">
			<a href="index.html" class="m-common-stick-text">
				Inkans.com
			</a>
		</div>
		<div class="right">
			<div class="m-common-stick-menu">	
				<img src="../images/m-menu.jpg" width="100%" alt="" />
			</div>
		</div>
	</div>
	<a class="m-common-go-top" href="#">&uarr;</a>
	<div class="m-container m-classify-container">
		<div class="m-common-container-nav">
			<ul>
				<li class="left">
					<a href="index.html">
						<img src="../images/icon-home.png" alt="" />
						<em>
							ホーム
						</em>
					</a>
				</li>
				<li class="left f-nowpage">
					<a href="#">
						<em>個人実印</em>
					</a>
				</li>
			</ul>
		</div>
		<!-- <div class="m-classify-explain">
			<div class="title">
				個人印鑑・実印
			</div>
			<div class="img">
				<img src="../images/img-classify-big.jpg" width="100%" alt="">
			</div>
			<div class="desc">
				市町村役所へ印鑑登録を行い、印鑑証明を受ける印鑑です。実印は印鑑の中で、もっとも重要な印鑑で、法律上・社会上の権利・義務の発生を伴います。
			</div>
		</div> -->
		<div class="m-classify-ranking">
			<!-- <div class="header">
				RANKING　ランキング
			</div> -->
			<div class="content">
				<ul>
					<li>
						
					</li>
				</ul>
			</div>
		</div>
		<div class="m-classify-type" id="classify-type">
			<div class="header">
				印鑑素材の選択
			</div>
			<div class="content">
				
			</div>
			<div class="btn-box clear">
				<div class="right btn"></div>
			</div>
		</div>
		<div class="m-classify-modules">
			
		</div>
		<div class="m-index-explain clear">
			<ul class="clear">
				<li><img src="../images/img-explain01.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain02.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain03.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain04.jpg" width="100%" alt=""></li>
			</ul>
		</div>
		<div class="m-index-link clear">
			<ul>
				<li class="left"><a href="javascript:void(0)">お支払い方法</a></li>
				<li class="left"><a href="javascript:void(0)">配送料・納期</a></li>
				<li class="left"><a href="javascript:void(0)">会社概要</a></li>
				<li class="left"><a href="javascript:void(0)">よくあるご質問</a></li>
			</ul>
		</div>
		<div class="m-index-look">
			<div>
				<a href="tel:03-6757-0756"><img src="../images/img-look01.jpg" width="100%" alt=""></a>
			</div>
			<div>
				<a href="http://www.inkans.com/ask.php" ><img src="../images/img-look02.jpg" width="100%" alt=""></a>
			</div>
			<div>
				<a href="www.inkans.com"><img src="../images/img-look03.jpg" width="100%" alt=""></a>
			</div>
		</div>
	</div>
	<div class="m-common-footer clear">
		<div class="left">
			<div class="title">
				inkans.com
			</div>
			<div class="copyright">
				Copyright © 2017 HankoPremium co., ltd. All rights reserved. 
			</div>
		</div>
		<div class="right">
			<a href="#">
				<img src="../images/icon-whitejt.png" alt="">
				<p>TOP</p>
			</a>
		</div>
	</div>
	<div class="m-nav-bottom clear">
		<ul class="clear">
			<li class="left m-nav-bottom-talk">
				<a href="http://www.inkans.com/ask.php"></a>
			</li>
			<li class="left m-nav-bottom-search">
				<a href="javascript:void(0)"></a>
			</li>
			<li class="left m-nav-bottom-person">
				<a href="membermenu.html"></a>
			</li>
			<li class="left m-nav-bottom-car">
				<a href="javascript:void(0)">
					<div class="m-nav-bottom-car-number">
						0
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="m-common-spinner">
	<div class="m-common-bounce1"></div>
	<div class="m-common-bounce2"></div>
	<div class="m-common-bounce3"></div>
</div>
</body>
</html>
<script id="menuTpl" type="text/html">
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				ユーザー
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
			<li>
				<a href="login.html">
					ログイン
				</a>
			</li>
			<li>
				<a href="membermenu.html">
					マイページ
				</a>
			</li>
			<li>
				<div class="go">
					ログアウト
				</div>
			</li>
		</ul>
	</div>
{{if data.list && data.list !=""}}
{{each data.list as value}}
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				{{value.cat_name}}
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
		{{each value.child as item}}
			<li>
				<a href="classify.html?catId={{item.cat_id}}">
					{{item.cat_name}}
				</a>
			</li>
		{{/each}}
		</ul>
	</div>
{{/each}}
{{/if}}
{{if data.other && data.other !=""}}
{{each data.other as value}}
	<div class="m-common-menu-content-list">
		<a class="m-common-menu-content-list-header" href="{{value.href}}" >
			{{value.name}}
		</a>
	</div>
{{/each}}
{{/if}}
</script>
<script type="text/html" id="moduleTpl">
	{{each data as value}}
	<div class="modules-list" id="{{value.breviary}}">
		<div class="modules-list-header">
			<div class="modules-list-img">
				<img src={{value.bodyPic}} width="100%" alt="" />
			</div>
			<div class="modules-list-text">
				{{value.mainDesc}}
			</div>
		</div>
		<div class="modules-list-content">
			<div class="modules-list-content-scroll">
				<ul>
				{{each value.goods as item}}
					<li class="clear left" data-goodsid={{item.goods.goods_id}}>
						<div class="left img">
							<img src={{item.goods.goods_img}} width="100%" alt="" />
						</div>
						<div class="left">
							<div class="detail">
								<div class="name">
									{{item.goods.goods_name}}
								</div>
								<div>
									[通販価格]
								</div>
								<div class="price">
									{{item.goods.format_promote_price?item.goods.format_promote_price:item.goods.format_shop_price}}
								</div>
							</div>
							<div class="btn">
								
							</div>
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="modules-list-content-other">
				
			</div>
		</div>
		<div class="modules-list-content-to">
			<a href="#classify-type">
				▲印鑑素材一覧へ戻る▲
			</a>
		</div>
	</div>
	{{/each}}
</script>
<script type="text/html" id="classifyTpl">
	<ul class="clear m-show">
	{{each data as value i}}
	{{if i%6 != 0 || i == 0}}
		<li data-id="{{value.breviary}}">
			<div class="img">
				<img src={{value.topPic}} width="100%" alt="" />
			</div>
			<p class="title">
				{{value.name[0]}}
				{{if value.name[1]}}<br />
					{{value.name[1]}}
				{{/if}}
				{{if value.name[2]}}<br />
					{{value.name[2]}}
				{{/if}}
			</p>
			<div class="price">
				{{value.topPrice}}
			</div>
		</li>
		{{else}}
	</ul>
	<ul class="clear">
		<li data-id="{{value.breviary}}">
			<div class="img">
				<img src={{value.topPic}} width="100%" alt="" />
			</div>
			<p class="title">
				{{value.name[0]}}
				{{if value.name[1]}}<br />
					{{value.name[1]}}
				{{/if}}
				{{if value.name[2]}}<br />
					{{value.name[2]}}
				{{/if}}
			</p>
			<div class="price">
				{{value.topPrice}}
			</div>
		</li>
		{{/if}}
	{{/each}}
	</ul>
</script>
<script type="text/javascript" src="../build/js/lib/template.js"></script>
<script type="text/javascript" src="../build/js/self/classify.js"></script>	