<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品详情</title>
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" href="../build/css/style.css">
	<script type="text/javascript" src="../build/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="../build/js/widget/mobilecommon.js"></script>
	<script type="text/javascript" src="../build/js/widget/common.js"></script>

</head>
<body>
<div class="m-wrapper m-detail-wrapper">
	<div class="m-common-logo">
		<a href="index.html"><img src="../images/icon-indexbanner.jpg" width="100%" alt="首页banner" /></a>
		<div class="m-common-car">
			<img src="../images/m-car.png" width="100%" alt="" />
			<em>0</em>
		</div>
		<div class="m-common-menu">
			<img src="../images/m-menu.jpg" width="100%" alt="" />
		</div>
	</div>
	<div class="m-common-menu-box">
		<div class="m-common-menu-content">
			<div class="m-common-menu-content-header">
				<div class="btn-box clear">
					<div class="btn right">
						MENU
					</div>
				</div>
				<div class="search-box clear">
					<div class="left">
						<input type="text" />
					</div>
					<div class="left search-btn">
						<img src="../images/icon-whitesearch.png" alt="" />
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-main">
				<div class="m-common-menu-content-lists">
				
				</div>
			</div>
			<div class="m-common-menu-content-footer">
				<a class="left" href="javascript:void(0)">
					お問合せ
				</a>
				<a class="right f-top" href="#">
					Top<img src="../images/icon-blackjt.png" alt="" />
				</a>
			</div>
		</div>
		<div class="m-common-menu-close"></div>
	</div>
	<div class="m-common-stick">
		<div class="left">
			<div class="m-common-stick-car">
				<a href="shoppingcart.html"><img src="../images/m-car-white.png" width="100%" alt="" /></a>
			</div>
		</div>
		<div class="left">
			<a href="index.html" class="m-common-stick-text">
				Inkans.com
			</a>
		</div>
		<div class="right">
			<div class="m-common-stick-menu">	
				<img src="../images/m-menu.jpg" width="100%" alt="" />
			</div>
		</div>
	</div>
	<a class="m-common-go-top" href="#">&uarr;</a>
	<div class="m-container m-detail-container">
		<div class="m-detail-content">
			<div class="m-detail-product">
				<div class="pic">
					<img src="" width="100%" alt="" />
				</div>
				<div class="name">
					
				</div>
				<div class="price">
					<span></span>
					<em></em>
				</div>
				<div class="promise clear">
					<div class="left f-fast"><img src="../images/img-detail-promise01.jpg" width="100%" alt="" /></div>
					<div class="left f-years"><img src="../images/img-detail-promise02.jpg" width="100%" alt="" /></div>
					<div class="left f-dummy"><img src="../images/img-detail-promise03.jpg" width="100%" alt="" /></div>
					<div class="left f-shadow"><img src="../images/img-detail-promise04.jpg" width="100%" alt="" /></div>
				</div>
			</div>
			<div class="m-detail-num">
				<label for="num">数量</label>
				<select name="num" id="num">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<div class="jt"></div>
			</div>
			<div class="m-detail-addcar">
				<img src="../images/img-detail-addcar.jpg" width="100%" alt="" />
			</div>
			<div class="m-detail-product-point">
				※書体・ケースなどは買い物カート内にてお選びい
				ただけます。
			</div>
			<div class="m-detail-engravingins">
			<div id="ecp_products_list_freearea">
			  <div class="xxy_block" style="background-color:#FFF;">
			     <h2 class="title_block">出荷予定日について</h2>
			     <p>通常出荷予定日は、営業日の14時まで確定出来たご注文を対象とします。但し次の場合は対象外となります。</p>
			     <p>※受注・在庫状況により、出荷が前後する場合。<br />
			※チタン・水晶・ゴム印・外注商品が含まれた場合。<br />
			※印影確認・手彫り仕上げサービスをご利用の場合。<br />
			※NP後払い・銀行振込決済ご利用の場合。<br />
			※土日・祝日・当社休業日の場合。</p>
			   </div>
			  <div class="xxy_block">
			     <h2 class="title_block">最大彫刻文字数</h2>
			     <div class="table_num">
			      <table width="100%"  cellspacing="0" cellpadding="0">
			        <tr>
			          <th>10.5mm</th>
			          <td>漢字・かな：4文字2文字x2列<br />
			英数字：6文字3文字x2列</td>
			        </tr>
			        <tr>
			          <th>12.0mm</th>
			          <td>漢字・かな：：6文字3文字x2列<br />
			英数字：8文字4文字x2列</td>
			        </tr>
			        <tr>
			          <th>13.5mm</th>
			          <td>漢字・かな：：6文字3文字x2列<br />
			英数字：8文字4文字x2列</td>
			        </tr>
			        <tr>
			          <th>15.0mm</th>
			          <td>漢字・かな：：6文字4文字x2列<br />
			英数字：8文字5文字x2列</td>
			        </tr>
			        <tr>
			          <th>16.5mm</th>
			          <td>漢字・かな：：8文字4文字x2列<br />
			英数字：10文字6文字x2列</td>
			        </tr>
			        <tr>
			          <th>18.0mm</th>
			          <td>漢字・かな：：8文字4文字x2列<br />
			英数字：10文字7文字x2列</td>
			        </tr>
			      </table>

			     </div>
			   </div>
			 </div>
			</div>
			<div class="m-detail-backbtn">
				<img src="../images/img-detail-back.jpg" width="100%" alt="">
			</div>
			</div>
		</div>
		<div class="m-index-explain clear">
			<ul class="clear">
				<li><img src="../images/img-explain01.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain02.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain03.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain04.jpg" width="100%" alt=""></li>
			</ul>
		</div>
		<div class="m-index-link clear">
			<ul>
				<li class="left"><a href="javascript:void(0)">お支払い方法</a></li>
				<li class="left"><a href="javascript:void(0)">配送料・納期</a></li>
				<li class="left"><a href="javascript:void(0)">会社概要</a></li>
				<li class="left"><a href="javascript:void(0)">よくあるご質問</a></li>
			</ul>
		</div>
		<div class="m-index-look">
			<div>
				<a href="tel:03-6757-0756"><img src="../images/img-look01.jpg" width="100%" alt=""></a>
			</div>
			<div>
				<a href="http://www.inkans.com/ask.php"><img src="../images/img-look02.jpg" width="100%" alt=""></a>
			</div>
			<div>
				<img src="../images/img-look03.jpg" width="100%" alt="">
			</div>
		</div>
	</div>
	<div class="m-common-footer clear">
		<div class="left">
			<div class="title">
				inkans.com
			</div>
			<div class="copyright">
				Copyright © 2017 HankoPremium co., ltd. All rights reserved. 
			</div>
		</div>
		<div class="right">
			<a href="#">
				<img src="../images/icon-whitejt.png" alt="">
				<p>TOP</p>
			</a>
		</div>
	</div>
	<div class="m-nav-bottom clear">
		<ul class="clear">
			<li class="left m-nav-bottom-talk">
				<a href="http://www.inkans.com/ask.php"></a>
			</li>
			<li class="left m-nav-bottom-search">
				<a href="javascript:void(0)"></a>
			</li>
			<li class="left m-nav-bottom-person">
				<a href="membermenu.html"></a>
			</li>
			<li class="left m-nav-bottom-car">
				<a href="javascript:void(0)">
					<div class="m-nav-bottom-car-number">
						0
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="m-common-spinner">
	<div class="m-common-bounce1"></div>
	<div class="m-common-bounce2"></div>
	<div class="m-common-bounce3"></div>
</div>
</body>
</html>
<script id="menuTpl" type="text/html">
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				ユーザー
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
			<li>
				<a href="login.html">
					ログイン
				</a>
			</li>
			<li>
				<a href="membermenu.html">
					マイページ
				</a>
			</li>
			<li>
				<div class="go">
					ログアウト
				</div>
			</li>
		</ul>
	</div>
{{if data.list && data.list !=""}}
{{each data.list as value}}
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				{{value.cat_name}}
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
		{{each value.child as item}}
			<li>
				<a href="classify.html?catId={{item.cat_id}}">
					{{item.cat_name}}
				</a>
			</li>
		{{/each}}
		</ul>
	</div>
{{/each}}
{{/if}}
{{if data.other && data.other !=""}}
{{each data.other as value}}
	<div class="m-common-menu-content-list">
		<a class="m-common-menu-content-list-header" href="{{value.href}}" >
			{{value.name}}
		</a>
	</div>
{{/each}}
{{/if}}
</script>
<script type="text/javascript" src="../build/js/lib/template.js"></script>
<script type="text/javascript" src="../build/js/self/detail.js"></script>