<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新規・会員登録</title>
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" href="../build/css/style.css">
	<script type="text/javascript" src="../build/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="../build/js/widget/mobilecommon.js"></script>
	<script type="text/javascript" src="../build/js/widget/common.js"></script>

</head>
<body>
<div class="m-wrapper m-registerok-wrapper">
	<div class="m-common-logo">
		<a href="index.html"><img src="../images/icon-indexbanner.jpg" width="100%" alt="首页banner" /></a>
		<div class="m-common-car">
			<img src="../images/m-car.png" width="100%" alt="" />
			<em>0</em>
		</div>
		<div class="m-common-menu">
			<img src="../images/m-menu.jpg" width="100%" alt="" />
		</div>
	</div>
	<div class="m-common-menu-box">
		<div class="m-common-menu-content">
			<div class="m-common-menu-content-header">
				<div class="btn-box clear">
					<div class="btn right">
						MENU
					</div>
				</div>
				<div class="search-box clear">
					<div class="left">
						<input type="text" />
					</div>
					<div class="left search-btn">
						<img src="../images/icon-whitesearch.png" alt="" />
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-main">
				<div class="m-common-menu-content-lists">
					<div class="m-common-menu-content-list">
						<div class="m-common-menu-content-list-header">
							<div class="name left">
								ユーザー
							</div>
							<div class="jt right">
								<img src="../images/icon-whitejt02.png" alt="" />
							</div>
						</div>
						<ul>
							<li>
								<a href="javascript:void(0)">
									ログイン
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-footer">
				<a class="left" href="javascript:void(0)">
					お問合せ
				</a>
				<a class="right f-top" href="#">
					Top<img src="../images/icon-blackjt.png" alt="" />
				</a>
			</div>
		</div>
		<div class="m-common-menu-close"></div>
	</div>
	<div class="m-common-stick">
		<div class="left">
			<div class="m-common-stick-car">
				<a href="shoppingcart.html"><img src="../images/m-car-white.png" width="100%" alt="" /></a>
			</div>
		</div>
		<div class="left">
			<a href="index.html" class="m-common-stick-text">
				Inkans.com
			</a>
		</div>
		<div class="right">
			<div class="m-common-stick-menu">	
				<img src="../images/m-menu.jpg" width="100%" alt="" />
			</div>
		</div>
	</div>
	<a class="m-common-go-top" href="#">&uarr;</a>
	<div class="m-common-container-nav">
		<ul>
			<li class="left">
				<a href="index.html">
					<img src="../images/icon-home.png" alt="" />
					<em>
						ホーム
					</em>
				</a>
			</li>
			<li class="left">
				<a href="#">
					<em>新規・会員登録</em>
				</a>
			</li>
		</ul>
	</div>
	<div class="m-container">
		<div class="m-registerok-content">
			<div class="m-register-content-step">
				<img src="../images/register-step04.jpg" width="100%" alt="">
			</div>
			<div class="m-registerok-content-box-not">
				<div class="m-registerok-content-notice">
					システムエラーが発生しました。
				</div>
				<div class="m-registerok-content-text">
					アクセスが集中し処理に時間がかかっている可能性があります。お使いのブラウザ、インターネットを再起動して、時間をおいてから再度登録してください。
				</div>
			</div>
			<div class="m-registerok-content-box-ok">
				<div class="m-registerok-content-notice">
					メールアドレスに「お申し込み受付完了」メールを送信しました。
				</div>
				<div class="m-registerok-content-text">
					<p>この度は、「はんこプレミアム通販」の会員登録にお申し込みいただきまして、誠にありがとうございました。</p>
					<p class="s-f00">※確認メールが届かない場合、ご入力に間違いがあるが、ドメイン拒否の設定をされている可能性があります。はんこプレミアムからのメール（@inkanshop.com）が受信できるように設定のうえ、再度ご登録をお願い致します。</p>
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td>メールアドレス</td>
							<td class="email">【显示客户填写的邮箱地址】</td>
						</tr>
					</table>
				</div>
			</div>

		</div>
		<div class="m-member-common-btn-box">
			<div class="go index">
				トップページへ
			</div>
		</div>
		<div class="m-index-explain clear">
			<ul class="clear">
				<li><img src="../images/img-explain01.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain02.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain03.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain04.jpg" width="100%" alt=""></li>
			</ul>
		</div>
		<div class="m-index-link clear">
			<ul>
				<li class="left"><a href="javascript:void(0)">お支払い方法</a></li>
				<li class="left"><a href="javascript:void(0)">配送料・納期</a></li>
				<li class="left"><a href="javascript:void(0)">会社概要</a></li>
				<li class="left"><a href="javascript:void(0)">よくあるご質問</a></li>
			</ul>
		</div>
		<div class="m-index-look">
			<div>
				<a href="tel:03-6757-0756"><img src="../images/img-look01.jpg" width="100%" alt=""></a>
			</div>
			<div>
				<a href="http://www.inkans.com/ask.php"><img src="../images/img-look02.jpg" width="100%" alt=""></a>
			</div>
			<div>
				<img src="../images/img-look03.jpg" width="100%" alt="">
			</div>
		</div>
	</div>
	<div class="m-common-footer clear">
		<div class="left">
			<div class="title">
				inkans.com
			</div>
			<div class="copyright">
				Copyright © 2017 HankoPremium co., ltd. All rights reserved. 
			</div>
		</div>
		<div class="right">
			<a href="#">
				<img src="../images/icon-whitejt.png" alt="">
				<p>TOP</p>
			</a>
		</div>
	</div>
	<div class="m-nav-bottom clear">
		<ul class="clear">
			<li class="left m-nav-bottom-talk">
				<a href="http://www.inkans.com/ask.php"></a>
			</li>
			<li class="left m-nav-bottom-search">
				<a href="javascript:void(0)"></a>
			</li>
			<li class="left m-nav-bottom-person">
				<a href="membermenu.html"></a>
			</li>
			<li class="left m-nav-bottom-car">
				<a href="javascript:void(0)">
					<div class="m-nav-bottom-car-number">
						0
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
</body>
</html>
<script id="menuTpl" type="text/html">
{{if data.list && data.list !=""}}
{{each data.list as value}}
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				{{value.cat_name}}
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
		{{each value.child as item}}
			<li>
				<a href="classify.html?catId={{item.cat_id}}">
					{{item.cat_name}}
				</a>
			</li>
		{{/each}}
		</ul>
	</div>
{{/each}}
{{/if}}
{{if data.other && data.other !=""}}
{{each data.other as value}}
	<div class="m-common-menu-content-list">
		<a class="m-common-menu-content-list-header" href="{{value.href}}" >
			{{value.name}}
		</a>
	</div>
{{/each}}
{{/if}}
</script>
<script type="text/javascript" src="../build/js/lib/template.js"></script>
<script type="text/javascript" src="../build/js/self/registerok.js"></script>