<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新規・会員登録</title>
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" href="../build/css/style.css">
	<script type="text/javascript" src="../build/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="../build/js/widget/mobilecommon.js"></script>
	<script type="text/javascript" src="../build/js/widget/common.js"></script>

</head>
<body>
<div class="m-wrapper m-register-wrapper">
	<div class="m-common-logo">
		<a href="index.html"><img src="../images/icon-indexbanner.jpg" width="100%" alt="首页banner" /></a>
		<div class="m-common-car">
			<img src="../images/m-car.png" width="100%" alt="" />
			<em>0</em>
		</div>
		<div class="m-common-menu">
			<img src="../images/m-menu.jpg" width="100%" alt="" />
		</div>
	</div>
	<div class="m-common-menu-box">
		<div class="m-common-menu-content">
			<div class="m-common-menu-content-header">
				<div class="btn-box clear">
					<div class="btn right">
						MENU
					</div>
				</div>
				<div class="search-box clear">
					<div class="left">
						<input type="text" />
					</div>
					<div class="left search-btn">
						<img src="../images/icon-whitesearch.png" alt="" />
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-main">
				<div class="m-common-menu-content-lists">
				
				</div>
			</div>
			<div class="m-common-menu-content-footer">
				<a class="left" href="http://www.inkans.com/ask.php">
					お問合せ
				</a>
				<a class="right f-top" href="#">
					Top<img src="../images/icon-blackjt.png" alt="" />
				</a>
			</div>
		</div>
		<div class="m-common-menu-close"></div>
	</div>
	<div class="m-common-stick">
		<div class="left">
			<div class="m-common-stick-car">
				<a href="shoppingcart.html"><img src="../images/m-car-white.png" width="100%" alt="" /></a>
			</div>
		</div>
		<div class="left">
			<a href="index.html" class="m-common-stick-text">
				Inkans.com
			</a>
		</div>
		<div class="right">
			<div class="m-common-stick-menu">	
				<img src="../images/m-menu.jpg" width="100%" alt="" />
			</div>
		</div>
	</div>
	<a class="m-common-go-top" href="#">&uarr;</a>
	<div class="m-common-container-nav">
		<ul>
			<li class="left">
				<a href="index.html">
					<img src="../images/icon-home.png" alt="" />
					<em>
						ホーム
					</em>
				</a>
			</li>
			<li class="left">
				<a href="#">
					<em>新規・会員登録</em>
				</a>
			</li>
		</ul>
	</div>
	<div class="m-container">
		<div class="m-register-content">
			<div class="m-register-content-step">
				<img src="../images/register-step01.jpg" width="100%" alt="">
			</div>
			<div class="m-register-intro">
				<img src="../images/img-register-intro.jpg" width="100%" alt="">
			</div>
			<div class="m-register-content-agreement">
				<div class="m-register-content-agreement-title">
					会員規約
				</div>
				<div class="m-register-content-agreement-notice">
					【重要】 会員登録をされる前に、下記ご利用規約をよくお読みください。規約には、本サービスを使用するに当たってのあなたの権利と義務が規定されております。
				</div>
				<div class="m-register-content-agreement-content">
					<dl>
						<dt>第1条　会員の登録</dt>
						<dd>1.ご入会際発生した会費は、無料です。</dd>
						<dd> 2.本規約を同意の上、会員登録を行なってください。</dd>
						<dd class="w-mg24"> 3.同じメールアドレスでの複数登録は、無効とします。</dd>
						<dt>第2条　会員情報の変更</dt>
						<dd class="w-mg24">住所、電話番号などの会員情報に変更が生じた場合は、当店までお届けください。</dd>
						<dt>第3条　会員の退会</dt>
						<dd class="w-mg24">会員が退会を希望する場合には、当店までメールにてご連絡ください。退会手続きの終了後、退会となります。</dd>
						<dt>第4条　本サービスの変更・廃止</dt>
						<dd class="w-mg24">当店の判断により、本サービスを変更・廃止をすることが出来るものとします。</dd>
						<dt>第5条　個人情報の収集・保有・管理・利用</dt>
						<dd>会員は、当社が会員の入会登録時に申告した個人情報（以下「個人情報」といいます）につき必要な保護措置を行ったうえで、以下のとおり取り扱うことに同意するものとします。</dd>
						<dd>1　 当社は、以下の個人情報に関する情報を取得します。氏名、性別、生年月日、住所、電話番号、FAX番号、メールアドレス、商品購買履歴。</dd>
						<dd>2　　当社は、取得した個人情報を下記の目的で利用します。但し、会員が各種ご案内について中止の申し入れを行ったとき、当社は業務、運営上支障がない範囲でこれを中止するものとします。</dd>
						<dd>(1) 個人認証</dd>
						<dd>(2) ショッピングの受付、配送、それに付随した連絡</dd>
						<dd>(3) 当社からのメール・DMによる商品情報・生活情報・アフターサービス・各種ご優待等のご案内</dd>
						<dd>(4) ご意見、ご感想、アンケート等の依頼</dd>
						<dd>(5) 中元、歳暮の購入実績リストのご案内</dd>
						<dd>(6) 特典、アフターサービスの提供</dd>
						<dd>(7) マーケティングデータ政策立案</dd>
						<dd class="w-mg24">(8) 当社が共同利用会社に対し、上記利用目的の範囲内で個人情報を提供し、共同利用会社がこれを利用する事 </dd>
						<dt>第6条　商品受領拒否等</dt>
						<dd>ご指定の場所へお届けしたにもかかわらず、会員様またはその指定する者がご注文商品の受領に応じていただけない場合は、弊社は7日間を期限としてご注文商品を保管いたします。この場合、商品保管料を申し受けることができるものとします。</dd>
						<dd class="w-mg24">会員様が前項の期間内にご注文商品を引き取らない場合は、会員様によるご注文の取消しとみなします。この場合、違約金として代金等相当額を請求いたします。</dd>
						<dt>第8条　不可抗力の免責</dt>
						<dd>天災地変、法令の制定改廃、交通事故、公権力の行使に基づく処分、輸送機関の事故、労働争議、弊社の商品発注先や買付先における倒産または納入遅滞、弊社仕入商品の初期不良、その他やむを得ない事情により、ご注文商品の引渡しの遅滞または引渡しの不能を生じた場合、電話･FAX･インターネット等により会員様にご通知いたします。ただし、これにより会員様が損害を被っても、弊社および利用申込書記載の会社は何ら賠償の責を負わないものとします。</dd>
					</dl>
				</div>
				<div class="m-register-content-agreement-btn">
					<input type="checkbox" name="agree" id="agree">
					<label for="agree">会員規約に同意する</label>
				</div>
				<p>「同意して会員登録へ」ボタンをクリックすると、あなたが本規約の全ての条件に同意したことになります。</p>
			</div>
			<div class="s-f00 m-register-notice">
				<p>ご登録されましたメールアドレスに本登録用のURLを記載したメールをお送りいたします。 </p>
				<p>携帯電話でドメイン指定受信を設定されている場合は「@inkanshop.com」からのメールを受取れるよう設定をお願いいたします。s</p>
				<p>本登録用のメールが届かず、会員登録が完了しませんのでご注意ください。</p>
			</div>
		</div>
		<div class="m-member-common-btn-box">
			<div class="go">
				ご利用規約の同意の上、確認画面へ
			</div>
			<div class="back">
				<img src="../images/btn-memberinfo01.png" width="100%" alt="">
			</div>
		</div>
		<div class="m-index-explain clear">
			<ul class="clear">
				<li><img src="../images/img-explain01.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain02.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain03.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain04.jpg" width="100%" alt=""></li>
			</ul>
		</div>
		<div class="m-index-link clear">
			<ul>
				<li class="left"><a href="javascript:void(0)">お支払い方法</a></li>
				<li class="left"><a href="javascript:void(0)">配送料・納期</a></li>
				<li class="left"><a href="javascript:void(0)">会社概要</a></li>
				<li class="left"><a href="javascript:void(0)">よくあるご質問</a></li>
			</ul>
		</div>
		<div class="m-index-look">
			<div>
				<a href="tel:03-6757-0756"><img src="../images/img-look01.jpg" width="100%" alt=""></a>
			</div>
			<div>
				<a href="http://www.inkans.com/ask.php"><img src="../images/img-look02.jpg" width="100%" alt=""></a>
			</div>
			<div>
				<a href="www.inkans.com"><img src="../images/img-look03.jpg" width="100%" alt=""></a>
			</div>
		</div>
	</div>
	<div class="m-common-footer clear">
		<div class="left">
			<div class="title">
				inkans.com
			</div>
			<div class="copyright">
				Copyright © 2017 HankoPremium co., ltd. All rights reserved. 
			</div>
		</div>
		<div class="right">
			<a href="#">
				<img src="../images/icon-whitejt.png" alt="">
				<p>TOP</p>
			</a>
		</div>
	</div>
	<div class="m-nav-bottom clear">
		<ul class="clear">
			<li class="left m-nav-bottom-talk">
				<a href="http://www.inkans.com/ask.php"></a>
			</li>
			<li class="left m-nav-bottom-search">
				<a href="javascript:void(0)"></a>
			</li>
			<li class="left m-nav-bottom-person">
				<a href="membermenu.html"></a>
			</li>
			<li class="left m-nav-bottom-car">
				<a href="javascript:void(0)">
					<div class="m-nav-bottom-car-number">
						0
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="m-popup-small-box">
	<div class="m-popup-small">
			
	</div>
</div>
</body>
</html>
<script id="menuTpl" type="text/html">
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				ユーザー
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
			<li>
				<a href="login.html">
					ログイン
				</a>
			</li>
			<li>
				<a href="membermenu.html">
					マイページ
				</a>
			</li>
			<li>
				<div class="go">
					ログアウト
				</div>
			</li>
		</ul>
	</div>
{{if data.list && data.list !=""}}
{{each data.list as value}}
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				{{value.cat_name}}
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
		{{each value.child as item}}
			<li>
				<a href="classify.html?catId={{item.cat_id}}">
					{{item.cat_name}}
				</a>
			</li>
		{{/each}}
		</ul>
	</div>
{{/each}}
{{/if}}
{{if data.other && data.other !=""}}
{{each data.other as value}}
	<div class="m-common-menu-content-list">
		<a class="m-common-menu-content-list-header" href="{{value.href}}" >
			{{value.name}}
		</a>
	</div>
{{/each}}
{{/if}}
</script>
<script type="text/javascript" src="../build/js/lib/template.js"></script>
<script type="text/javascript" src="../build/js/self/register.js"></script>