<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>検索結果</title>
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" href="../build/css/style.css">
	<script type="text/javascript" src="../build/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="../build/js/widget/mobilecommon.js"></script>
	<script type="text/javascript" src="../build/js/widget/common.js"></script>

</head>
<body>
<div class="m-wrapper m-membermenu-wrapper">
	<div class="m-common-logo">
		<a href="index.html"><img src="../images/icon-indexbanner.jpg" width="100%" alt="首页banner" /></a>
		<div class="m-common-car">
			<img src="../images/m-car.png" width="100%" alt="" />
			<em>0</em>
		</div>
		<div class="m-common-menu">
			<img src="../images/m-menu.jpg" width="100%" alt="" />
		</div>
	</div>
	<div class="m-common-menu-box">
		<div class="m-common-menu-content">
			<div class="m-common-menu-content-header">
				<div class="btn-box clear">
					<div class="btn right">
						MENU
					</div>
				</div>
				<div class="search-box clear">
					<div class="left">
						<input type="text" />
					</div>
					<div class="left search-btn">
						<img src="../images/icon-whitesearch.png" alt="" />
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-main">
				<div class="m-common-menu-content-lists">
				</div>
			</div>
			<div class="m-common-menu-content-footer">
				<a class="left" href="http://www.inkans.com/ask.php">
					お問合せ
				</a>
				<a class="right f-top" href="#">
					Top<img src="../images/icon-blackjt.png" alt="" />
				</a>
			</div>
		</div>
		<div class="m-common-menu-close"></div>
	</div>
	<div class="m-common-stick">
		<div class="left">
			<div class="m-common-stick-car">
				<a href="shoppingcart.html"><img src="../images/m-car-white.png" width="100%" alt="" /></a>
			</div>
		</div>
		<div class="left">
			<a href="index.html" class="m-common-stick-text">
				Inkans.com
			</a>
		</div>
		<div class="right">
			<div class="m-common-stick-menu">	
				<img src="../images/m-menu.jpg" width="100%" alt="" />
			</div>
		</div>
	</div>
	<a class="m-common-go-top" href="#">&uarr;</a>
	<div class="m-common-container-nav">
		<ul>
			<li class="left">
				<a href="index.html">
					<img src="../images/icon-home.png" alt="" />
					<em>
						ホーム
					</em>
				</a>
			</li>
			<li class="left">
				<a href="#">
					<em>検索結果</em>
				</a>
			</li>
		</ul>
	</div>
	<div class="m-container m-search-container">
		<div class="m-search-title">
			検索結果
		</div>
		<div class="m-search-header">
			<div class="m-search-header-search">
				<input type="text" name="name" id="name" />
				<div class="icon-search">
					<img src="../images/icon-search-btn.png" width="100%" alt="">
				</div>
				<div class="icon-close">
					<img src="../images/icon-search-close.png" width="100%" alt="">
				</div>
				<div class="search-btn">検索</div>
			</div>
			<div class="m-search-header-content clear">
				<div class="left">
					<dl>
						<dt>検索結果</dt>
						<dd><em>1,000</em>件</dd>
					</dl>
				</div>
				<div class="right">
					<div class="m-search-qh">
						<img src="../images/icon-search-single.jpg" width="100%" alt="">
						<!-- <img src="../images/icon-search-double.jpg" width="100%" alt=""> -->
					</div>
				</div>
			</div>
		</div>
		<div class="m-search-main">
			<div class="m-search-main-tab clear">
				<ul class="clear">
					<li class="default cur">
						<p>おすすめ順</p>
						<div class="m-cur-border"></div>
					</li>
					<li class="selling">
						<p>売れている順</p>
						<div class="m-cur-border"></div>
					</li>
					<li class="lowest">
						<p>安い順</p>
						<div class="m-cur-border"></div>
					</li>
					<li class="high">
						<p>高い順</p>
						<div class="m-cur-border"></div>
					</li>
				</ul>
			</div>
			<div class="m-search-main-content">
				<div class="empty">
					<div class="empty-top">
						<div class="m-search-main-content-notice">
							・お客様のお探しの商品は見つかりませんでした。
						</div>
						<a href="javascripthistory.go(-1)">><em>前の画面へ戻る</em></a>
					</div>
					<div class="empty-fot">
						<div class="m-empty-fot-title">
							人気検索キーワード
						</div>
						<div class="m-empty-fot-lists">
							<ul class="clear">
								<li>
									<a href="">黒水牛　実印</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="have">
					
				</div>
			</div>
		</div>
		<div class="m-index-explain clear">
			<ul class="clear">
				<li><img src="../images/img-explain01.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain02.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain03.jpg" width="100%" alt=""></li>
				<li><img src="../images/img-explain04.jpg" width="100%" alt=""></li>
			</ul>
		</div>
		<div class="m-index-link clear">
			<ul>
				<li class="left"><a href="javascript:void(0)">お支払い方法</a></li>
				<li class="left"><a href="javascript:void(0)">配送料・納期</a></li>
				<li class="left"><a href="javascript:void(0)">会社概要</a></li>
				<li class="left"><a href="javascript:void(0)">よくあるご質問</a></li>
			</ul>
		</div>
		<div class="m-index-look">
			<div>
				<a href="tel:03-6757-0756"><img src="../images/img-look01.jpg" width="100%" alt=""></a>
			</div>
			<div>
				<a href="http://www.inkans.com/ask.php"><img src="../images/img-look02.jpg" width="100%" alt=""></a>
			</div>
			<div>
				<a href="http://www.inkans.com"><img src="../images/img-look03.jpg" width="100%" alt=""></a>
			</div>
		</div>
	</div>
	<div class="m-common-footer clear">
		<div class="left">
			<div class="title">
				inkans.com
			</div>
			<div class="copyright">
				Copyright © 2017 HankoPremium co., ltd. All rights reserved. 
			</div>
		</div>
		<div class="right">
			<a href="#">
				<img src="../images/icon-whitejt.png" alt="">
				<p>TOP</p>
			</a>
		</div>
	</div>
	<div class="m-nav-bottom clear">
		<ul class="clear">
			<li class="left m-nav-bottom-talk">
				<a href="http://www.inkans.com/ask.php"></a>
			</li>
			<li class="left m-nav-bottom-search">
				<a href="javascript:v	oid(0)"></a>
			</li>
			<li class="left m-nav-bottom-person">
				<a href="membermenu.html"></a>
			</li>
			<li class="left m-nav-bottom-car">
				<a href="javascript:void(0)">
					<div class="m-nav-bottom-car-number">
						0
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
</body>
</html>
<script id="menuTpl" type="text/html">
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				ユーザー
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
			<li>
				<a href="login.html">
					ログイン
				</a>
			</li>
			<li>
				<a href="membermenu.html">
					マイページ
				</a>
			</li>
			<li>
				<div class="go">
					ログアウト
				</div>
			</li>
		</ul>
	</div>
{{if data.list && data.list !=""}}
{{each data.list as value}}
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				{{value.cat_name}}
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
		{{each value.child as item}}
			<li>
				<a href="classify.html?catId={{item.cat_id}}">
					{{item.cat_name}}
				</a>
			</li>
		{{/each}}
		</ul>
	</div>
{{/each}}
{{/if}}
{{if data.other && data.other !=""}}
{{each data.other as value}}
	<div class="m-common-menu-content-list">
		<a class="m-common-menu-content-list-header" href="{{value.href}}" >
			{{value.name}}
		</a>
	</div>
{{/each}}
{{/if}}
</script>
<script type="text/javascript" src="../build/js/lib/template.js"></script>
<script type="text/javascript" src="../build/js/self/search.js"></script>