<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购物车</title>
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" href="../css/style.css">
	<script type="text/javascript" src="../build/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="../build/js/widget/mobilecommon.js"></script>
	<script type="text/javascript" src="../build/js/widget/common.js"></script>
</head>
<body>
<div class="m-wrapper">
	<div class="m-common-logo">
		<a href="index.html"><img src="../images/icon-indexbanner.jpg" width="100%" alt="首页banner" /></a>
		<div class="m-common-car">
			<img src="../images/m-car.png" width="100%" alt="" />
			<em>0</em>
		</div>
		<div class="m-common-menu">
			<img src="../images/m-menu.jpg" width="100%" alt="" />
		</div>
	</div>
	<div class="m-common-menu-box">
		<div class="m-common-menu-content">
			<div class="m-common-menu-content-header">
				<div class="btn-box clear">
					<div class="btn right">
						MENU
					</div>
				</div>
				<div class="search-box clear">
					<div class="left">
						<input type="text" />
					</div>
					<div class="left search-btn">
						<img src="../images/icon-whitesearch.png" alt="" />
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-main">
				<div class="m-common-menu-content-lists">
					<div class="m-common-menu-content-list">
						<div class="m-common-menu-content-list-header">
							<div class="name left">
								ユーザー
							</div>
							<div class="jt right">
								<img src="../images/icon-whitejt02.png" alt="" />
							</div>
						</div>
						<ul>
							<li>
								<a href="javascript:void(0)">
									ログイン
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-footer">
				<a class="left" href="javascript:void(0)">
					お問合せ
				</a>
				<a class="right f-top" href="#">
					Top<img src="../images/icon-blackjt.png" alt="" />
				</a>
			</div>
		</div>
		<div class="m-common-menu-close"></div>
	</div>
	<div class="m-common-stick">
		<div class="left">
			<div class="m-common-stick-car">
				<a href="shoppingcart.html"><img src="../images/m-car-white.png" width="100%" alt="" /></a>
			</div>
		</div>
		<div class="left">
			<a href="index.html" class="m-common-stick-text">
				Inkans.com
			</a>
		</div>
		<div class="right">
			<div class="m-common-stick-menu">	
				<img src="../images/m-menu.jpg" width="100%" alt="" />
			</div>
		</div>
	</div>
	<a class="m-common-go-top" href="#">&uarr;</a>
	<div class="m-common-container-nav">
		<ul>
			<li class="left">
				<a href="index.html">
					<img src="../images/icon-home.png" alt="" />
					<em>
						ホーム
					</em>
				</a>
			</li>
			<li class="left">
				<a href="#">
					<em>カート</em>
				</a>
			</li>
		</ul>
	</div>
	<div class="m-container m-shoppingcart-container">
		<div class="m-shoppingcart">
			<div class="m-common-step-box">
				<div class="m-common-step">
					<img src="../images/icon-step01.jpg" width="100%" alt="" />
				</div>
				<div class="m-common-step-text">
					{guest} 様
				</div>
			</div>
			<div class="m-shoppingcart-login clear" >
				<div class="text left">
					会員登録されているお客様はログインしてください。（会員登録なしでもご注文可能！）
				</div>
				<div class="btn left">
					<img src="../images/icon-sc-lbtn.png" width="100%" alt="" />
				</div>
			</div>
			<div class="m-shoppingcart-detail">
				<div class="title m-shoppingcart-detail-title">
					カートの中身
				</div>
				<div class="content-no" style="display:none;">
					<p>現在、カートには商品がございません。</p>
					<p>商品をお選びください。</p>
					<div class="content-no-goback">
						<img src="../images/icon-sc-buybtn.png" width="100%" alt="" />
					</div>
				</div>
				<div class="content-has">
					<div class="product-lists">
						
					</div>
					<div class="product-price">
						<span>小計：</span>
						<em></em>
					</div>
					<div class="product-total clear">
						<div class="left">
							合計金額:
						</div>
						<div class="right price">
							
						</div>
					</div>
					<div class="product-notice">
						<p class="s-f00">
							※ご注文確認金額ではございません。送料、各種手数料など含まれておりません。
送料、各種手数料は「ご注文情報の確認」画面にてご確認ください。
						</p>
						<p>
							※お客様のご都合により、ご注文の【キャンセル・商品の追加・別々の注文を１件として出荷・作成内容の変更】につきましては、承りかねます。
場合により、１件ご注文当たり200円～1,000円のキャンセル手数料を別途でご請求させていただきますので、十分ご注意、ご了承くださいますようお願い申し上げます。
						</p>
					</div>
					<div class="product-btn clear">
						<div class="left back">
							<img src="../images/btn-sc-product01.png" width="100%" alt="" />
						</div>
						<div class="right go">
							<img src="../images/btn-sc-product02.png" width="100%" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="m-index-explain clear">
		<ul class="clear">
			<li><img src="../images/img-explain01.jpg" width="100%" alt=""></li>
			<li><img src="../images/img-explain02.jpg" width="100%" alt=""></li>
			<li><img src="../images/img-explain03.jpg" width="100%" alt=""></li>
			<li><img src="../images/img-explain04.jpg" width="100%" alt=""></li>
		</ul>
	</div>
	<div class="m-index-link clear">
		<ul>
			<li class="left"><a href="javascript:void(0)">お支払い方法</a></li>
			<li class="left"><a href="javascript:void(0)">配送料・納期</a></li>
			<li class="left"><a href="javascript:void(0)">会社概要</a></li>
			<li class="left"><a href="javascript:void(0)">よくあるご質問</a></li>
		</ul>
	</div>
	<div class="m-index-look">
		<div>
			<a href="tel:03-6757-0756"><img src="../images/img-look01.jpg" width="100%" alt=""></a>
		</div>
		<div>
			<a href="http://www.inkans.com/ask.php"><img src="../images/img-look02.jpg" width="100%" alt=""></a>
		</div>
		<div>
			<img src="../images/img-look03.jpg" width="100%" alt="">
		</div>
	</div>
	<div class="m-common-footer clear">
		<div class="left">
			<div class="title">
				inkans.com
			</div>
			<div class="copyright">
				Copyright © 2017 HankoPremium co., ltd. All rights reserved. 
			</div>
		</div>
		<div class="right">
			<a href="#">
				<img src="../images/icon-whitejt.png" alt="">
				<p>TOP</p>
			</a>
		</div>
	</div>
</div>
<div class="m-common-spinner">
	<div class="m-common-bounce1"></div>
	<div class="m-common-bounce2"></div>
	<div class="m-common-bounce3"></div>
</div>
</body>
</html>
<script id="menuTpl" type="text/html">
{{if data.list && data.list !=""}}
{{each data.list as value}}
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				{{value.cat_name}}
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
		{{each value.child as item}}
			<li>
				<a href="classify.html?catId={{item.cat_id}}">
					{{item.cat_name}}
				</a>
			</li>
		{{/each}}
		</ul>
	</div>
{{/each}}
{{/if}}
{{if data.other && data.other !=""}}
{{each data.other as value}}
	<div class="m-common-menu-content-list">
		<a class="m-common-menu-content-list-header" href="{{value.href}}" >
			{{value.name}}
		</a>
	</div>
{{/each}}
{{/if}}
</script>
<script id="cartListTpl" type="text/html">
{{each goods_list as value}}
	<div class="product-list" data-goodsid="{{value.goods_id}}" data-cid="{{value.rec_id}}" data-catid="{{value.cat_id}}">
		<div class="product clear">
			<div class="left del f-del" data-recid={{value.rec_id}}>
				削除
			</div>
			<div class="left pic">
				<img src="{{value.goods_thumb}}" width="100%" height="100%" alt="" />
			</div>
			<div class="left text">
				<p class="f-name">{{value.goods_name}}</p>
				<p>商品単価：<em>{{value.format_goods_price}}</em></p>
			</div>
		</div>
		<div class="num-box">
			<span>数量</span>
			<span class="reduce f-reduce">-</span>
			<span class="num" data-singleprice="{{value.goods_price}}">{{value.goods_number}}</span>
			<span class="add f-add">+</span>
		</div>
	</div>
{{/each}}
</script>
<script type="text/javascript" src="../build/js/lib/template.js"></script>
<script type="text/javascript" src="../build/js/self/shoppingcart.js"></script>	