<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>お届け先</title>
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" href="../css/mobileSelect.css">
	<link rel="stylesheet" href="../css/style.css">
	<script type="text/javascript" src="../build/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="../build/js/widget/mobilecommon.js"></script>
	<script type="text/javascript" src="../build/js/widget/common.js"></script>
</head>
<body>
<div class="m-wrapper">
	<div class="m-common-logo">
		<a href="index.html"><img src="../images/icon-indexbanner.jpg" width="100%" alt="首页banner" /></a>
		<div class="m-common-car">
			<img src="../images/m-car.png" width="100%" alt="" />
			<em>0</em>
		</div>
		<div class="m-common-menu">
			<img src="../images/m-menu.jpg" width="100%" alt="" />
		</div>
	</div>
	<div class="m-common-menu-box">
		<div class="m-common-menu-content">
			<div class="m-common-menu-content-header">
				<div class="btn-box clear">
					<div class="btn right">
						MENU
					</div>
				</div>
				<div class="search-box clear">
					<div class="left">
						<input type="text" />
					</div>
					<div class="left search-btn">
						<img src="../images/icon-whitesearch.png" alt="" />
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-main">
				<div class="m-common-menu-content-lists">
					<div class="m-common-menu-content-list">
						<div class="m-common-menu-content-list-header">
							<div class="name left">
								ユーザー
							</div>
							<div class="jt right">
								<img src="../images/icon-whitejt02.png" alt="" />
							</div>
						</div>
						<ul>
							<li>
								<a href="javascript:void(0)">
									ログイン
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-footer">
				<a class="left" href="javascript:void(0)">
					お問合せ
				</a>
				<a class="right f-top" href="#">
					Top<img src="../images/icon-blackjt.png" alt="" />
				</a>
			</div>
		</div>
		<div class="m-common-menu-close"></div>
	</div>
	<div class="m-common-stick">
		<div class="left">
			<div class="m-common-stick-car">
				<a href="shoppingcart.html"><img src="../images/m-car-white.png" width="100%" alt="" /></a>
			</div>
		</div>
		<div class="left">
			<a href="index.html" class="m-common-stick-text">
				Inkans.com
			</a>
		</div>
		<div class="right">
			<div class="m-common-stick-menu">	
				<img src="../images/m-menu.jpg" width="100%" alt="" />
			</div>
		</div>
	</div>
	<a class="m-common-go-top" href="#">&uarr;</a>
	<div class="m-common-container-nav">
		<ul>
			<li class="left">
				<a href="index.html">
					<img src="../images/icon-home.png" alt="" />
					<em>
						ホーム
					</em>
				</a>
			</li>
			<li class="left">
				<a href="#">
					<em>カート</em>
				</a>
			</li>
		</ul>
	</div>
	<div class="m-container m-shoppingcart-container m-shoppingpay-container">
		<div class="m-shoppingcart clear">
			<div class="m-common-step-box">
				<div class="m-common-step">
					<img src="../images/icon-step04.jpg" width="100%" alt="" />
				</div>
				<div class="m-common-step-text">
					{guest} 様
				</div>
			</div>
			<div class="m-shoppingaddr-detail">
				<div class="m-shoppingaddr-product">
					<div class="m-shoppingaddr-product-lists">
						<div class="m-shoppingaddr-product-list-one clear">
							<div class="left img">
								<img src="../images/product-img.jpg" width="100%" alt="" />
							</div>
							<div class="left text">
								<p>ECS012941</p>
								<p>天然黒水牛（染め無し）実印13.5mm</p>
							</div>
							<div class="right price">
								4,980円（税込）
							</div>
						</div>
						<div class="m-shoppingaddr-product-list-more">
							<div class="m-shoppingaddr-product-list-single clear">
								<div class="left img">
									<img src="../images/product-img.jpg" width="100%" alt="" />
								</div>
								<div class="left text">
									<p>ECS012941</p>
									<p>天然黒水牛（染め無し）実印</p>
								</div>
								<div class="right price">
									4,980円（税込）
								</div>
							</div>
							<div class="m-shoppingaddr-product-list-single clear">
								<div class="left img">
									<img src="../images/product-img.jpg" width="100%" alt="" />
								</div>
								<div class="left text">
									<p>ECS012941</p>
									<p>天然黒水牛（染め無し）実印</p>
								</div>
								<div class="right price">
									4,980円（税込）
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-shoppingaddr-detail-info">
					<div class="title">
						ご注文者情報をご入力ください。
					</div>
				</div>
				<div class="m-shoppingaddr-detail-module-box">
					<div class="m-shoppingaddr-detail-module">
						<div class="addressee">
							<div class="title">
								<strong>ご注文者氏名</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="text" name="consignee" id="consignee" placeholder="例：）　鈴木　太郎">
							</div>
						</div>
						<div class="act">
							<div class="title">
								<strong>ご注文者氏名ふりかな</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="text" name="consignee_pinyin" id="consignee_pinyin" placeholder="例：）　すずき　たろう">
							</div>
						</div>
					</div>
					<div class="m-shoppingaddr-detail-module">
						<div class="email">
							<div class="title">
								<strong>メールアドレス</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="text" name="email" id="email" placeholder="例：）　taro@inkans.com">
							</div>
						</div>
						<div class="email-confirm">
							<div class="title">
								<strong>メールアドレス[確認用]</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="text" name="email-confirm" id="email-confirm" placeholder="例：）　taro@inkans.com">
							</div>
						</div>
						<div class="notice">
							<p>【重要】</p>
							<p>PC/携帯電話でドメイン指定受信を設定されている場合は「@inkanshop.com」からのメールを受取れるよう設定をお願いいたします。</p>
							<p>迷惑メールフォルダに振り分けされていることも多いため、ショップからのメールが届かない場合は、必ず一度受信設定をご確認ください。 </p>
						</div>
						<div class="phone">
							<div class="title">
								<strong>電話番号</strong>
								<span>必須</span>
								<em>※携帯番号でもOK</em>
							</div>
							<div class="text">
								<input type="number" name="tel_0" id="tel_0"><hr>
								<input type="number" name="tel_1" id="tel_1"><hr>
								<input type="number" name="tel_2" id="tel_2">
							</div>
						</div>
						<div class="fax">
							<div class="title">
								<strong>FAX番号</strong>
							</div>
							<div class="text">
								<input type="text" name="fax_0" id="fax_0" ><hr>
								<input type="text" name="fax_1" id="fax_1" ><hr>
								<input type="text" name="fax_2" id="fax_2" >
							</div>
						</div>
					</div>
					<div class="m-shoppingaddr-detail-module">
						<div class="corporation">
							<div class="title">
								<strong>法人名</strong>
							</div>
							<div class="text">
								<input type="text" name="company_name" id="company_name" placeholder="例：）　はんこプレミアム株式会社">
							</div>
							<p>※こちらに法人名ご入力の場合「領収証」を法人名で発行させて頂きます。</p>
						</div>
						<div class="phonetic">
							<div class="title">
								<strong>法人ふりがな</strong>
							</div>
							<div class="text">
								<input type="text" name="company_name_pinyin" id="company_name_pinyin" placeholder="例：）　はんこぷれみあむ（か">
							</div>
						</div>
						<div class="department">
							<div class="title">
								<strong>部署名</strong>
							</div>
							<div class="text">
								<input type="text" name="department" id="department" placeholder="例：）　営業部">
							</div>
						</div>
					</div>
					<div class="m-shoppingaddr-detail-module">
						<div class="zipcode">
							<div class="title">
								<strong>郵便番号</strong>
								<span>必須</span>
							</div>
							<div class="text clear">
								<input type="number" name="zipcode_0" id="zipcode_0"><hr>
								<input type="number" name="zipcode_1" id="zipcode_1">
								<div class="zipcode-btn">
									住所を検索
								</div>
							</div>
						</div>
						<div class="prefectural">
							<div class="title">
								<strong>都道府県</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="text" name="province" id="province" readonly="readonly">
								<div class="prefectural-notice">
									例：）　千葉県
								</div>
							</div>
						</div>
						<div class="city">
							<div class="title">
								<strong>市区郡町村</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="text" name="address_0" id="address_0" placeholder="例：）　船橋市">
							</div>
						</div>
						<div class="address">
							<div class="title">
								<strong>町・番地</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="text" name="address_1" id="address_1" placeholder="例：）　１－２３－１">
							</div>
						</div>
						<div class="apartment">
							<div class="title">
								<strong>アパート マンション ビル名等</strong>
							</div>
							<div class="text">
								<input type="text" name="address_2" id="address_2" placeholder="例：）　ザ・ガーデン8">
							</div>
						</div>
					</div>
					<div class="m-shoppingaddr-detail-module">
						<div class="destination">
							<div class="title">
								お届け先の選択
							</div>
							<div class="text">
								<div>
									<input type="radio" name="other_address" id="same" value="0" checked="checked" />
									<label for="same">上記と同じ住所に送る</label>
								</div>
								<div>
									<input type="radio" name="other_address" id="diff" value="1" />
									<label for="diff">別の住所に送る</label>
								</div>
							</div>
						</div>
					</div>
					<div class="m-shoppingaddr-detail-module m-shoppingaddr-detail-module-diff">
						<h4>別の住所に郵送する場合のみ、ご記入ください。</h4>
						<div class="diff-name">
							<div class="title">
								<strong>お名前</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<label for="familyname">姓</label>
								<input type="text" name="familyname" id="familyname">
								<label for="lastname">名</label>
								<input type="text" name="lastname" id="lastname">
							</div>
						</div>
						<div class="diff-kana">
							<div class="title">
								<strong>フリカナ</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<label for="kana-familyname">姓</label>
								<input type="text" name="kana-familyname" id="kana-familyname">
								<label for="kana-lastname">名</label>
								<input type="text" name="kana-lastname" id="kana-lastname">
							</div>
						</div>
						<!-- <div class="diff-company">
							<div class="title">
								<strong>会社名</strong>
							</div>
							<div class="text">
								<input type="text" name="diff-company" id="diff-company">
							</div>
						</div> -->
						<div class="diff-phone">
							<div class="title">
								<strong>お電話番号</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="number" name="diff-phone1" id="diff-phone1"><hr>
								<input type="number" name="diff-phone2" id="diff-phone2"><hr>
								<input type="number" name="diff-phone3" id="diff-phone3">
							</div>
						</div>
						<div class="diff-zipcode clear">
							<div class="title">
								<strong>郵便番号</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="number" name="zipcode_d_0" id="zipcode_d_0"><hr/>
								<input type="number" name="zipcode_d_1" id="zipcode_d_1">
								<div class="zipcode-d-btn">
									住所を検索
								</div>
							</div>
						</div>
						<div class="diff-prefectural">
							<div class="title">
								<strong>都道府県</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="text" name="province_d" id="province_d" readonly="readonly" />
								<div class="prefectural-notice">
									例：）　千葉県
								</div>
							</div>
						</div>
						<div class="diff-city">
							<div class="title">
								<strong>市区郡町村</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="text" name="address_d_0" id="address_d_0" placeholder="例：）　船橋市">
							</div>
						</div>
						<div class="diff-address">
							<div class="title">
								<strong>町・番地</strong>
								<span>必須</span>
							</div>
							<div class="text">
								<input type="text" name="address_d_1" id="address_d_1" placeholder="例：）　１－２３－１">
							</div>
						</div>
						<div class="diff-apartment">
							<div class="title">
								<strong>アパート マンション ビル名等</strong>
							</div>
							<div class="text">
								<input type="text" name="address_d_2" id="address_d_2" placeholder="例：）　ザ・ガーデン8">
							</div>
						</div>
					</div>
					<div class="m-shoppingaddr-detail-module">
						<div class="deliverytime">
							<div class="title">
								<strong>配達希望時間</strong>
							</div>
							<div class="text">
								<select name="deliverytime" id="deliverytime">
									<option value="0">指定なし </option>
									<option value="1">午前中 </option>
									<option value="2">14～16 時 </option>
									<option value="3">16～18 時  </option>
									<option value="4">18～20 時  </option>
									<option value="5">19～21 時  </option>
								</select>
							</div>
							<p>※時間指定はクロネコヤマトの交通事情等で、大幅に遅れる場合が多くございます。（特に「午前中」「12時～14時」は到着日が1日延びる場合がございます。）</p>
							<p>※お客様の代わりに、当社が「クロネコヤマト」へ日時を依頼させて頂きますが、当社での必着のお約束はできかねますので予めご了承ください。</p>
						</div>
						<div class="receive">
							<div class="title">
								<strong>ヤマト運輸営業所での受け取り</strong>
							</div>
							<p>お近くのヤマト運輸営業所で商品を受け取ることができます。止置き【営業所名。支店コード】を必ずご記入ください。</p>
							<div class="text">
								<input type="text" name="receive" id="receive">
							</div>
						</div>
					</div>
					<div class="m-shoppingaddr-detail-module">
						<div class="receiptaddress">
							<div class="title">
								<strong>領収証の宛名</strong>
							</div>
							<div class="text">
								<input type="text" name="receiptaddress" id="receiptaddress" placeholder="例：）　はんこプレミアム株式会社">
							</div>
						</div>
						<div class="receiptnotice">
							<div class="title">
								<strong>領収証の但し書き</strong>
							</div>
							<div class="text">
								<input type="text" name="receiptnotice" id="receiptnotice" placeholder="例：）　商品代">
							</div>
							<p>※空欄の場合は法人名または氏名で発行させて頂きます。</p>
							<p>※紙領収書は発行いたしません、「出荷お知らせメール」に記載されているURLから印刷してください。</p>
						</div>
					</div>
					<div class="m-shoppingaddr-detail-module">
						<div class="contactinfo">
							<div class="title">
								<strong>ご連絡事項欄</strong>
							</div>
							<div class="text">
								<textarea name="contactinfo" id="contactinfo" cols="30" rows="10"></textarea>
							</div>
							<p>他のご要望がございましたら、ご記入ください、出来る限りご対応致します。</p>
							<p>※開運印鑑の場合、ご希望の運勢をご記入ください。開運書体は【印相体】のみご対応できますので、ご了承くださいませ。ご指定がない場合、水晶・宝石本来の運勢で彫刻させていただきます。予め、ご了承くださいませ。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="product-btn clear">
			<div class="left back">
				<img src="../images/btn-memberinfo01.png" width="100%" alt="" />
			</div>
			<div class="right go">
				<img src="../images/btn-sc-product02.png" width="100%" alt="" />
			</div>
		</div>
	</div>
	<div class="m-index-explain clear">
		<ul class="clear">
			<li><img src="../images/img-explain01.jpg" width="100%" alt=""></li>
			<li><img src="../images/img-explain02.jpg" width="100%" alt=""></li>
			<li><img src="../images/img-explain03.jpg" width="100%" alt=""></li>
			<li><img src="../images/img-explain04.jpg" width="100%" alt=""></li>
		</ul>
	</div>
	<div class="m-index-link clear">
		<ul>
			<li class="left"><a href="javascript:void(0)">お支払い方法</a></li>
			<li class="left"><a href="javascript:void(0)">配送料・納期</a></li>
			<li class="left"><a href="javascript:void(0)">会社概要</a></li>
			<li class="left"><a href="javascript:void(0)">よくあるご質問</a></li>
		</ul>
	</div>
	<div class="m-index-look">
		<div>
			<a href="tel:03-6757-0756"><img src="../images/img-look01.jpg" width="100%" alt=""></a>
		</div>
		<div>
			<a href="http://www.inkans.com/ask.php"><img src="../images/img-look02.jpg" width="100%" alt=""></a>
		</div>
		<div>
			<img src="../images/img-look03.jpg" width="100%" alt="">
		</div>
	</div>
	<div class="m-common-footer clear">
		<div class="left">
			<div class="title">
				inkans.com
			</div>
			<div class="copyright">
				Copyright © 2017 HankoPremium co., ltd. All rights reserved. 
			</div>
		</div>
		<div class="right">
			<a href="#">
				<img src="../images/icon-whitejt.png" alt="">
				<p>TOP</p>
			</a>
		</div>
	</div>
</div>
<div id="day"></div>
<div class="m-popup-small-box">
	<div class="m-popup-small">
			
	</div>
</div>
<div class="m-common-spinner">
	<div class="m-common-bounce1"></div>
	<div class="m-common-bounce2"></div>
	<div class="m-common-bounce3"></div>
</div>
</body>
</html>
<script id="menuTpl" type="text/html">
{{if data.list && data.list !=""}}
{{each data.list as value}}
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				{{value.cat_name}}
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
		{{each value.child as item}}
			<li>
				<a href="classify.html?catId={{item.cat_id}}">
					{{item.cat_name}}
				</a>
			</li>
		{{/each}}
		</ul>
	</div>
{{/each}}
{{/if}}
{{if data.other && data.other !=""}}
{{each data.other as value}}
	<div class="m-common-menu-content-list">
		<a class="m-common-menu-content-list-header" href="{{value.href}}" >
			{{value.name}}
		</a>
	</div>
{{/each}}
{{/if}}
</script>
<script id="cartListTpl" type="text/html">
{{each goods_list as value i}}
	{{if value.parent_id == "0"}}
	<div class="m-shoppingpay-product-list-one clear" data-goodsid="{{value.goods_id}}" data-catid="{{value.cat_id}}">
		<div class="left img">
			<img src="{{value.goods_thumb}}" width="100%" height="100%" alt="" />
		</div>
		<div class="left text">
			<p>{{value.goods_name}}</p>
			<!-- <p>ECS012941</p>
			<p>天然黒水牛（染め無し）実印13.5mm</p> -->
		</div>
		<div class="right price">
			{{value.format_goods_price}}
		</div>
	</div>
	{{else if value.parent_id > "0"}}
		{{if goods_list[i-1].parent_id == "0"}}
	<div class="m-shoppingpay-product-list-more">
		{{/if}}
		<div class="m-shoppingpay-product-list-single clear">
			<div class="left img">
				<img src="{{value.goods_thumb}}" width="100%" height="100%" alt="" />
			</div>
			<div class="left text">
				<p>{{value.goods_name}}</p>
			</div>
			<div class="right price">
				{{value.format_goods_price}}
			</div>
		</div>
	{{if !goods_list[i+1] || goods_list[i+1].parent_id == "0" }}
	</div>
	{{/if}}
	{{/if}}
{{/each}}
</script>
<script type="text/javascript" src="../build/js/lib/template.js"></script><script type="text/javascript" src="../build/js/lib/mobileSelect.js"></script>
<script type="text/javascript" src="../build/js/self/shoppingaddr.js"></script>	