<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>支払方法</title>
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" href="../css/mobileSelect.css">
	<link rel="stylesheet" href="../css/style.css">
	<script type="text/javascript" src="../build/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="../build/js/widget/mobilecommon.js"></script>
	<script type="text/javascript" src="../build/js/widget/common.js"></script>
</head>
<body>
<div class="m-wrapper">
	<div class="m-common-logo">
		<a href="index.html"><img src="../images/icon-indexbanner.jpg" width="100%" alt="首页banner" /></a>
		<div class="m-common-car">
			<img src="../images/m-car.png" width="100%" alt="" />
			<em>0</em>
		</div>
		<div class="m-common-menu">
			<img src="../images/m-menu.jpg" width="100%" alt="" />
		</div>
	</div>
	<div class="m-common-menu-box">
		<div class="m-common-menu-content">
			<div class="m-common-menu-content-header">
				<div class="btn-box clear">
					<div class="btn right">
						MENU
					</div>
				</div>
				<div class="search-box clear">
					<div class="left">
						<input type="text" />
					</div>
					<div class="left search-btn">
						<img src="../images/icon-whitesearch.png" alt="" />
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-main">
				<div class="m-common-menu-content-lists">
					<div class="m-common-menu-content-list">
						<div class="m-common-menu-content-list-header">
							<div class="name left">
								ユーザー
							</div>
							<div class="jt right">
								<img src="../images/icon-whitejt02.png" alt="" />
							</div>
						</div>
						<ul>
							<li>
								<a href="javascript:void(0)">
									ログイン
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="m-common-menu-content-footer">
				<a class="left" href="javascript:void(0)">
					お問合せ
				</a>
				<a class="right f-top" href="#">
					Top<img src="../images/icon-blackjt.png" alt="" />
				</a>
			</div>
		</div>
		<div class="m-common-menu-close"></div>
	</div>
	<div class="m-common-stick">
		<div class="left">
			<div class="m-common-stick-car">
				<a href="shoppingcart.html"><img src="../images/m-car-white.png" width="100%" alt="" /></a>
			</div>
		</div>
		<div class="left">
			<div class="m-common-stick-text">
				Inkans.com
			</div>
		</div>
		<div class="right">
			<div class="m-common-stick-menu">	
				<img src="../images/m-menu.jpg" width="100%" alt="" />
			</div>
		</div>
	</div>
	<a class="m-common-go-top" href="#">&uarr;</a>
	<div class="m-common-containter-nav">
		<ul>
			<li class="left">
				<a href="index.html">
					<img src="../images/icon-home.png" alt="" />
					<em>
						ホーム
					</em>
				</a>
			</li>
			<li class="left">
				<a href="#">
					<em>カート</em>
				</a>
			</li>
		</ul>
	</div>
	<div class="m-container m-shoppingcart-container m-shoppingpay-container">
		<div class="m-shoppingcart clear">
			<div class="m-common-step-box">
				<div class="m-common-step">
					<img src="../images/icon-step03.jpg" width="100%" alt="" />
				</div>
				<div class="m-common-step-text">
					{guest} 様
				</div>
			</div>
			<div class="m-shoppingpay-detail">
				<div class="m-shoppingpay-product">
					<div class="m-shoppingpay-product-lists">
						<div class="m-shoppingpay-product-list-one clear">
							<div class="left img">
								<img src="../images/product-img.jpg" width="100%" alt="" />
							</div>
							<div class="left text">
								<p>ECS012941</p>
								<p>天然黒水牛（染め無し）実印13.5mm</p>
							</div>
							<div class="right price">
								4,980円（税込）
							</div>
						</div>
						<div class="m-shoppingpay-product-list-more">
							<div class="m-shoppingpay-product-list-single clear">
								<div class="left img">
									<img src="../images/product-img.jpg" width="100%" alt="" />
								</div>
								<div class="left text">
									<p>ECS012941</p>
									<p>天然黒水牛（染め無し）実印</p>
								</div>
								<div class="right price">
									4,980円（税込）
								</div>
							</div>
							<div class="m-shoppingpay-product-list-single clear">
								<div class="left img">
									<img src="../images/product-img.jpg" width="100%" alt="" />
								</div>
								<div class="left text">
									<p>ECS012941</p>
									<p>天然黒水牛（染め無し）実印</p>
								</div>
								<div class="right price">
									4,980円（税込）
								</div>
							</div>
						</div>
					</div>
					<div class="m-shoppingpay-product-price clear">
						<div class="right price">9,900円（税込）</div>
						<div class="right hj">合計</div>
					</div>
					<div class="m-shoppingpay-product-notice">
						<p>今回ご獲得できるポイント数 67　ポイント</p>
						<p>会員登録しない状態でのご注文は、ポイントは付きません。</p>
					</div>
				</div>
				<div class="m-shoppingpay-payment">
					<div class="title">
						<strong>お支払方法を選択してください</strong>
						<span>必选</span>
					</div>
					<div class="m-shoppingpay-payment-lists">
						<div class="m-shoppingpay-payment-creditcard m-shoppingpay-payment-box">
							<div class="head">
								<input type="radio" name="payment" id="creditcard" checked="checked" value="0">
								<label for="creditcard">クレジットカード 手数料無料</label>
							</div>
							<div class="content" style="display: block;">
								<p>※お支払い回数は一回払いとさせていただきます。</p>
								<div class="img">
									<img src="../images/img-payment01.jpg" alt="" />
								</div>
								<div class="company">
									<div class="name">
										カード会社：
									</div>
									<div class="val">
										<select name="company" id="company">
											<option value="VISA">VISA</option>
											<option value="MasterCard">MasterCard</option>
											<option value="JCB">JCB</option>
											<option value="アメリカンエキスプレス">アメリカンエキスプレス</option>
										</select>
									</div>
								</div>
								<div class="card">
									<div class="name">
										カード番号：
									</div>
									<div class="val">
										<input type="text" name="card" id="card" placeholder="例：）1234567890123456">
									</div>
								</div>
								<div class="time">
									<div class="name">
										有効期限：
									</div>
									<div class="val">
										<input type="text" name="month" id="month" readonly="readonly" />
										<label for="month">月</label>
										<input type="text" name="year" id="year" readonly="readonly" />
										<label for="year">年</label>
									</div>
								</div>
								<div class="owner">
									<div class="name">
										名義人：
									</div>
									<div class="val">
										<input type="text" name="owner" id="owner" placeholder=" 例：）「TARO HANKO」/「ヤマダハンコ」">
									</div>
								</div>
								<p>クレジットカード情報は、SSL暗号化通信にて送信されるので、安心してお買い物をお楽しみいただけます。</p>
							</div>
						</div>
						<div class="m-shoppingpay-payment-delivery m-shoppingpay-payment-box">
							<div class="head">
								<input type="radio" name="payment" id="delivery" value="1">
								<label for="delivery">代金引換（手数料有）</label>
							</div>
							<div class="content">

							</div>
						</div>
						<div class="m-shoppingpay-payment-transfer m-shoppingpay-payment-box">
							<div class="head">
								<input type="radio" name="payment" id="transfer" value="2">
								<label for="transfer">銀行/ゆうちょ　振込</label>
							</div>
							<div class="content">
								<p>※ご入金名義がご注文者様と異なる場合は、必ず弊社にご連絡下さいますようお願い致します。</p>
								<table cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td>振込口座</td>
											<td>
												三井住友銀行　船橋支店</br>
												普　7154834　ハンコプレミアム（カ
											</td>
										</tr>
										<tr>
											<td>振込手数料</td>
											<td>お客様ご負担</td>
										</tr>
										<tr>
											<td>振込口座</td>
											<td>
												ゆうちょ銀行　記号　10580</br>
												普　37025671　ハンコプレミアム（カ
											</td>
										</tr>
										<tr>
											<td>振込手数料</td>
											<td>お客様ご負担</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="m-shoppingpay-payment-store m-shoppingpay-payment-box">
							<div class="head">
								<input type="radio" name="payment" id="store" value="3">
								<label for="store">コンビニNP後払い　（決済手数料330円）</label>
							</div>
							<div class="content clear">
								<div class="left">
									<p>商品到着後のお支払いとなります。お支払い用紙は商品と別に、株式会社ネットプロテクションズより郵送され、14日以内であれば、好きなタイミングでご近くのコンビニ・銀行・郵便局、どこでもお支払いただける便利な決済方法です。</p>
									<p>※ご注文時にご注文者様の与信審査を行っております。審査の結果のよっては、お支払方法を「銀行振込・前払い」に変更させていただく場合がございます。</p>
									<p>※与信審査のため、通常の出荷予定日より翌営業日以降の出荷となることをご了承ください。</p>
								</div>
								<div class="right">
									<img src="../images/img-store01.png" width="100%" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-shoppingpay-confirm">
					<div class="title">
						<strong>出荷サービスをご確認ください</strong>
					</div>
					<div class="m-shoppingpay-confirm-content">
						<p>選択項目をご選択できない場合は、対象外商品や対象外支払方法が含まれています。</p>
						<dl>
							<dt>出荷サービス選択</dt>
							<dd>
								<input type="radio" name="" id="">
								<label for="">通常出荷を希望する</label>
							</dd>
							<dd>
								<input type="radio" name="" id="">
								<label for="">最短即日出荷サービスを希望する　　<em class="s-f00">+ 300円(税込)</em></label>
							</dd>
						</dl>
						<p class="ll">※アタリ埋込サービス、手彫りサービスは対象外となりますので、予めご了承くださいませ。</p>
						<p class="ll">（代金引換・銀行・郵貯振込・コンビニ後払いでのお支払いはご利用不可です。）
※最短即日出荷サービス受付時間は日・祝除く14時までのご注文が対象となります。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="product-btn clear">
			<div class="left back">
				<img src="../images/btn-sc-product01.png" width="100%" alt="" />
			</div>
			<div class="right go">
				<img src="../images/btn-sc-product02.png" width="100%" alt="" />
			</div>
		</div>
	</div>
	<div class="m-index-explain clear">
		<ul class="clear">
			<li><img src="../images/img-explain01.jpg" width="100%" alt=""></li>
			<li><img src="../images/img-explain02.jpg" width="100%" alt=""></li>
			<li><img src="../images/img-explain03.jpg" width="100%" alt=""></li>
			<li><img src="../images/img-explain04.jpg" width="100%" alt=""></li>
		</ul>
	</div>
	<div class="m-index-link clear">
		<ul>
			<li class="left"><a href="javascript:void(0)">お支払い方法</a></li>
			<li class="left"><a href="javascript:void(0)">配送料・納期</a></li>
			<li class="left"><a href="javascript:void(0)">会社概要</a></li>
			<li class="left"><a href="javascript:void(0)">よくあるご質問</a></li>
		</ul>
	</div>
	<div class="m-index-look">
		<div>
			<a href="tel:03-6757-0756"><img src="../images/img-look01.jpg" width="100%" alt=""></a>
		</div>
		<div>
			<img src="../images/img-look02.jpg" width="100%" alt="">
		</div>
		<div>
			<img src="../images/img-look03.jpg" width="100%" alt="">
		</div>
	</div>
	<div class="m-common-footer clear">
		<div class="left">
			<div class="title">
				inkans.com
			</div>
			<div class="copyright">
				Copyright © 2017 HankoPremium co., ltd. All rights reserved. 
			</div>
		</div>
		<div class="right">
			<a href="#">
				<img src="../images/icon-whitejt.png" alt="">
				<p>TOP</p>
			</a>
		</div>
	</div>
</div>
<div id="day"></div>
</body>
</html>
<script id="menuTpl" type="text/html">
{{if data.list && data.list !=""}}
{{each data.list as value}}
	<div class="m-common-menu-content-list">
		<div class="m-common-menu-content-list-header">
			<div class="name left">
				{{value.cat_name}}
			</div>
			<div class="jt right">
				<img src="../images/icon-whitejt02.png" alt="" />
			</div>
		</div>
		<ul>
		{{each value.child as item}}
			<li>
				<a href="classify.html?catId={{item.cat_id}}">
					{{item.cat_name}}
				</a>
			</li>
		{{/each}}
		</ul>
	</div>
{{/each}}
{{/if}}
{{if data.other && data.other !=""}}
{{each data.other as value}}
	<div class="m-common-menu-content-list">
		<a class="m-common-menu-content-list-header" href="{{value.href}}" >
			{{value.name}}
		</a>
	</div>
{{/each}}
{{/if}}
</script>
<script id="cartListTpl" type="text/html">
{{each goods_list as value}}
	<div class="m-shoppingpay-product-list-one clear" data-goodsid="{{value.goods_id}}" data-catid="{{value.cat_id}}">
		<div class="left img">
			<img src="{{value.goods_thumb}}" width="100%" height="100%" alt="" />
		</div>
		<div class="left text">
			<p>{{value.goods_name}}</p>
			<!-- <p>ECS012941</p>
			<p>天然黒水牛（染め無し）実印13.5mm</p> -->
		</div>
		<div class="right price">
			{{value.goods_price}}
		</div>
	</div>
{{/each}}
</script>
<script type="text/javascript" src="../build/js/lib/template.js"></script>
<script type="text/javascript" src="../build/js/lib/mobileSelect.js"></script>
<script type="text/javascript" src="../build/js/self/shoppingpay.js"></script>	